[2022-09-09 08:30] #1192 closed

[2022-09-09 08:38] escapedcat commented on #1391
Won't do

[2022-09-09 08:38] #1391 closed

[2022-09-09 09:08] #1394 closed

[2022-09-09 09:18] bumi commented on #1395
we actually also have a limit on the amount of accounts - there is a browser storage limit. I don't know the exact number, but your screenshot should be close to it.

[2022-09-09 09:20] bumi commented on #1307
All your examples work now! \o/

[2022-09-09 09:20] #1307 closed

[2022-09-09 09:22] bumi commented on #1243
is this fixed now?

[2022-09-09 09:24] escapedcat commented on #1243
Yes, fixed with #1389

[2022-09-09 09:24] #1243 closed

[2022-09-09 09:24] bumi commented on #1212
I am not sure about that. Allowing users to set a name means that we need to always have another field.
And then what name to you enter there?
It is more complicated for the first-time users and heavy users have the option to name their accounts in the account list.

[2022-09-09 09:26] bumi commented on #1184
@escapedcat not really. #738 is some LNURL call.
this is about the webln interface.

[2022-09-09 09:27] bumi commented on #1161
this was changed.

but we could still add a link on how to do that in the export screen
<img width="340" alt="image" src="https://user-images.githubusercontent.com/318/189318446-40dc2bce-ff01-4ad6-a12c-3d2a7ac20a1b.png">

[2022-09-09 09:31] escapedcat commented on #1212
tbh happy to close this as a "won't fix" for now due to majority is only using one account.
Mostly this is annoying to us when testing.

[2022-09-09 09:35] escapedcat commented on #1197
Removed from milestone because:
- UX is still in discussion
- UI will partly be covered by #1379

[2022-09-09 10:02] escapedcat commented on #1348
We figured it out, all good

[2022-09-10 08:14] AnastasiaVolk opened #1412 "Enable Alby on pages Popular tracks, Tracks, Albums, Playlists, Reposts on SoundCloud"
### Extension activates when playing music from "All" page on [SoundCloud](https://soundcloud.com/monvol)

### On other pages the extension should also be activated:

- https://soundcloud.com/monvol/popular-tracks
- https://soundcloud.com/monvol/tracks
- https://soundcloud.com/monvol/albums
- https://soundcloud.com/monvol/sets
- https://soundcloud.com/monvol/reposts

[2022-09-11 05:55] MoritzKa opened #1415 "Detection of a Lightning Address on Linktree page"
### Is your feature request related to a problem? Please describe

Linktree has 12m users: https://linktr.ee/ and is a simple way to show different websites to visitors.
one Linktree example of a Bitcoiner: https://linktr.ee/BlueeMooon

### Describe the solution you'd like

I would like that Linktree users can add a Lightning Address to their LinkTree profile, Alby detects it and allows the Alby u

[2022-09-11 05:55] MoritzKa commented on #1415
not urgent.

[2022-09-11 15:52] Vansh-Baghel opened #1416 "We can many add interesting CSS to this website"
* By adding CSS effects , this website will look awesome.
* Also , optimization could be improved from React / JS.

[2022-09-11 16:02] Vansh-Baghel opened #1417 "Forget Password issue"
### Forgot Password click event
* If the email input field is empty , then it must throw an error to fill the same , but it is accepting the move.
* It gives _Instructions have been sent to your email. If you need further help please contact support@getalby.com_ this message and send us back to login page.

### Are you working on this issue?

_(Yes)_

[2022-09-11 21:22] bitcoinuser opened #1418 "Detection of Lightning Address on Vida.page"
Vida.page is a service like linktree.

See this profile with a Lightning Address on it: https://vida.page/kierandnolan

Alby could detect this.

Same kind of feature request of: https://github.com/getAlby/lightning-browser-extension/issues/1415

[2022-09-12 03:32] escapedcat commented on #1416
Hey @Vansh-Baghel , thanks for you interest in Alby!

Please stick to our issue-template if you create an issue.
You ideas sound interesting but without any concrete detailed ideas this is not actionable.

Please update your issue by using the template:

[code]

[2022-09-12 03:35] escapedcat commented on #1417
Please add screenshots and steps to reproduce this issue.

Does this indicate you will work on this?

[2022-09-12 05:54] Vansh-Baghel commented on #1417
Yes ill work!
This is the screenshot after you click on **Reset Password** in **Forget password** section.
I guess we must give a message like **Please enter your email** or any message which you would like to be displayed

![Screenshot (7)](https://user-images.githubusercontent.com/103327712/189582645-83406cde-f087-491d-9dd8-44829cd83605.png)

[2022-09-12 06:03] escapedcat commented on #1417
Thanks for the update!
This isn't related to the extension but to our website (which is a private repo, so you can not work on this, sorry).
Thanks for opening this. I'll will move it to the correct repo.

[2022-09-12 06:04] im-adithya opened #1422 "Check for page content and links in Monetization"
### Is your feature request related to a problem? Please describe

Currently, we are making batteries for each and every website. Instead, we can improve our Monetization battery which is essentially built as a fallback to other batteries.

But the Monetization battery checks only for the lightning meta tag but not the content of the page and the embedded links. It would be good to add them as wel

[2022-09-12 08:43] #1116 closed

[2022-09-12 09:33] #570 closed

[2022-09-12 10:03] bumi commented on #1253
this is now done, can you check it again.

[2022-09-12 10:14] bumi commented on #1163
fixed in: https://github.com/getAlby/lightning-browser-extension/pull/1425

[2022-09-12 10:14] escapedcat commented on #1262
Will be done with #981

[2022-09-12 10:14] bumi commented on #1186
fixed

[2022-09-12 10:16] escapedcat commented on #1186
Can be closed?

[2022-09-12 10:22] escapedcat commented on #1161
Link to where?

[2022-09-12 10:25] bumi commented on #1161
I don't know. create a help page for that? link to docs in Zeus/BlueWallet?

[2022-09-12 10:27] escapedcat commented on #1161
Ah ok, sounded like you might have something in mind already. Ok, thanks.

[2022-09-12 10:30] #1163 closed

[2022-09-12 11:39] AnastasiaVolk commented on #1116
https://github.com/getAlby/lightning-browser-extension/wiki/Extension-Manual-Test-Cases

[2022-09-12 22:42] bumi commented on #1296
I kinda think this is fine.
no code is better than no code :) and adding the same account twice is not really a problem, is it?

[2022-09-13 08:28] #1418 closed

[2022-09-13 08:33] #1333 closed

[2022-09-13 08:34] #1412 closed

[2022-09-13 08:41] MoritzKa commented on #1415
You already have one.

[2022-09-13 08:44] escapedcat commented on #1415
Yeah, so I tested this:
![image](https://user-images.githubusercontent.com/1016218/189855419-d289cda3-5a36-426d-982f-589355ea5c0f.png)

[2022-09-13 09:14] AnastasiaVolk commented on #1253
@bumi yes, works fine. Closing this.

[2022-09-13 09:14] #1253 closed

[2022-09-13 10:23] bumi commented on #1170
this should be now fixed

[2022-09-13 12:22] AnastasiaVolk commented on #1170
fixed
![Screenshot 2022-09-13 at 15 20 52](https://user-images.githubusercontent.com/108762093/189899531-af4cfc6e-dc39-4a78-8e8a-20272b2a2f02.png)

[2022-09-13 12:22] #1170 closed

[2022-09-13 12:23] #1296 closed

[2022-09-13 14:27] bitcoinuser opened #1437 "Connection problem or invalid lnurl / lightning address."
### Describe the bug

I tried to send sats to a video youtube and I see this error: Connection problem or invalid lnurl / lightning address.

### Screenshots (If Any)

![Captura de tela de 2022-09-13 11-23-39](https://user-images.githubusercontent.com/1178856/189927524-b27e7d88-b3f3-4df3-97b0-eeb53ed27284.png)

### To Reproduce

Steps to reproduce the behavior:

1- Go to: https://www.youtube.com/w

[2022-09-13 16:12] bumi commented on #1437
@im-adithya can you have a look at this. the algorithm is confused with the tipping .me URL. We need to adjust it that it does not match characters like `:` or `/`

[2022-09-13 18:38] Amyyalby opened #1438 "Update pictures in Chrome store"
Update the Pictures on the google chrome web store

pictures are of old Logos of LN Markets and others in the pics we use currently.

The pictures are also not very clear on my screen rather fuzzy.

https://user-images.githubusercontent.com/102043873/189983441-552cd7d3-3b01-4f85-a294-580ae2c8bd26.mp4

[2022-09-14 05:57] im-adithya opened #1442 "Embed buttons for tipping in batteries"
### Is your feature request related to a problem? Please describe

We can make tipping from our extension seem more evident by embedding a button in the web page along with making the extension logo blue.

### Describe the solution you'd like

Embed button

### Additional context

--

### Are you working on this?

_Yes_

[2022-09-15 07:49] bumi opened #1451 "Don't close prompts if there is an error"
### Describe the bug

Currently we always close the prompts. This means users can not see potential error messages.
if there is an error we should not close the prompt.

Example:
https://github.com/getAlby/lightning-browser-extension/blob/master/src/app/screens/LNURLWithdraw/index.tsx#L72

but this probably applies to the other prompts, too.

### To Reproduce

Steps to reproduce the behavior:

Try

[2022-09-15 10:10] #1304 closed

[2022-09-15 10:10] bumi opened #1453 "Fix Linktree link discovery"
### Describe the bug

I think linktree directly links to the page. So this check here is wrong: https://github.com/getAlby/lightning-browser-extension/blob/master/src/extension/content-script/batteries/LinkTree.ts#L16-L19

### To Reproduce

Steps to reproduce the behavior:

Check a linktree page. [for example](https://linktr.ee/mike.neumann) (it has the wrong link, but it shows that no URL paramet

[2022-09-16 06:19] #1453 closed

[2022-09-16 07:26] #1367 closed

[2022-09-16 08:50] escapedcat opened #1457 "Refactor: use `navState` for all route actions (instead of props/searchParams)"
### Is your feature request related to a problem?

We aligned all LNURL-actions to use `navState` with i.e. #1269

Some actions are still using the old pattern, i.e.:
- https://github.com/getAlby/lightning-browser-extension/blob/master/src/app/router/Prompt/Prompt.tsx#L75
- https://github.com/getAlby/lightning-browser-extension/blob/master/src/app/router/Prompt/Prompt.tsx#L92
- https://github.com/

[2022-09-18 08:43] MoritzKa opened #1462 "Cannot unlock Alby on TOR browser"
### Describe the bug

I cannot start the onboarding / I cannot unlock Alby or set a un unlock PIN on the TOR browser.

### Screenshots (If Any)

![firefox_VAx9XCaF57](https://user-images.githubusercontent.com/13707997/190893494-bcf0174b-6ddc-48e4-98c7-cdd80a92bbfc.png)

### To Reproduce

Steps to reproduce the behavior:

I want to use Alby on Tor browser. The browser seems to run on Firefox so I d

[2022-09-18 08:46] MoritzKa commented on #1462
Alby needs persistent memory, Tor Browser disables it by default. Go to Settings, type "History" on the search bar and uncheck "Always use private browsing mode"

[2022-09-18 08:47] #1462 closed

[2022-09-18 18:28] bitcoinuser commented on #1151
It's added

[2022-09-18 18:28] #1151 closed

[2022-09-18 18:30] bitcoinuser commented on #879
Closing. I agree with Bumi.

[2022-09-18 18:30] #879 closed

[2022-09-18 18:33] bitcoinuser commented on #1415
Hi, this is implemented. I think can be closed, right?

[2022-09-18 19:10] bitcoinuser opened #1463 "Transactions sending sats clicking on blue alby icon (but not connected site) should appear on websites list"
### Describe the bug

If I do a payment on a site (https://bitcoinheiros.com/) clicking on the blue alby icon, (but not connected site) do not appear on websites list

### To Reproduce

Steps to reproduce the behavior:

1. Visit https://bitcoinheiros.com/
2. Click on alby blue icon
3. Send some sites
4. Go to Alby websites list

### Expected behavior

I would like to see the page bitcoinheiros.com

[2022-09-19 02:36] escapedcat commented on #1415
Yes, the last related PR was this:
https://github.com/getAlby/lightning-browser-extension/pull/1456

[2022-09-19 02:36] #1415 closed

[2022-09-19 03:36] escapedcat opened #1464 "i18n: Translate missing connectors"
### Describe the bug

These connectors are missing translations:

- [x] LNBits
- [x] Eclair
- [x] Citadel
- [x] Umbrel
- [x] myNode
- [x] Embassy
- [x] Raspiblitz
- [x] Bitcoin Beach Wallet
- [x] Bitcoin Jungle Wallet

### To Reproduce

Steps to reproduce the behavior:

1. Open extension Popup
1. Click on "menu icon" on the top right
1. Click on "settings"
1. Switch language to i.e. Spanish
1. Cli

[2022-09-19 04:39] escapedcat opened #1465 "i18n typings (autocomplete in editor)"
### Is your feature request related to a problem?

Currently we need to know the possible i18n strings when we use i18n within our components.
With typing the editor would suggest possible options. This helps avoiding using wrong translation-strings.

### Describe the solution you'd like

When typing i.e. `t(translation.welcome.)` we should see auto-completion suggestions (i.e. `title` & `nav).

T

[2022-09-19 06:40] dvoroneca opened #1466 "Design redirect page for Insatgram/nakaphoto.vercel.app"
"insatgram has moved to a new domain, because that name and and link is out there in the wild we need a proper redirect or a nice page."

https://nakaphoto.vercel.app/

[2022-09-19 06:53] escapedcat opened #1467 "lnurl-auth no longer logs you in automatically"
### Describe the bug

lnurl-auth no longer logs you in automatically but prompts you every time.
if you're logged out on http://getalby.com or stacker.news or etc. and log back in Alby prompts you.

this is because it does not get updated here:
https://github.com/getAlby/lightning-browser-extension/blob/master/src/extension/background-script/actions/allowances/update.ts

### Expected behavior

Aut

[2022-09-19 07:36] dvoroneca commented on #1466
Here are three options for the **"redirect page"**

IMO the best one is No2, the one with the Lightning in the background.

No1
<img width="1440" alt="1" src="https://user-images.githubusercontent.com/35034985/190968023-32711280-4540-4064-90cf-a8f02cc1166b.png">

No2
<img width="1440" alt="2" src="https://user-images.githubusercontent.com/35034985/190968018-d56efded-9eec-4a18-843d-8df87518b429.png

[2022-09-19 07:41] dvoroneca opened #1470 ""Top Up" guide for the new user"
### Create a guide in GitBook for the new user to understand how to top up your Alby Lightning wallet for the first time. Part of the Onboarding flow.

Use top-up options with well-known services to explain the steps the user needs to take to top up their new wallet. Offer 3 fiat deposit options and a coin exchange option.

[2022-09-19 08:06] dvoroneca commented on #1470
# How to top up your Alby Lightning Wallet Account?

## To top up your Alby Wallet Account you must hold some Bitcoin in a Lightning enables wallet and make a transfer to your Alby Wallet address.

-------

**We've made a list of services where you can Buy Bitcoin with Fiat and deposit it to the Lightning networks.**

Step 1: Get a Lightning Network-enabled Bitcoin wallet:

First, you'll need a Bi

[2022-09-19 08:15] #1451 closed

[2022-09-19 08:29] dvoroneca opened #1471 "Create a video for creators"
- [ ] Write a script
- [ ] Record over voice
- [ ] Screencast steps
- [ ] Post-production, add music, intro/outro

[2022-09-19 08:40] dvoroneca opened #1472 "How to create your Alby Lightning Wallet video"

[2022-09-19 08:41] #1472 closed

[2022-09-19 08:41] dvoroneca opened #1473 "Testing Manifest v3"

[2022-09-19 08:42] dvoroneca opened #1474 "Editing team videos on Paywall, Wordpress plugin and RSS"

[2022-09-19 08:42] #1474 closed

[2022-09-19 08:42] dvoroneca opened #1475 "Creating the Alby sound for boostagram"
https://getalby.slack.com/archives/C03NP4QJR5G/p1663169225649309

@bumi @reneaaron please check this out :)

[2022-09-19 08:43] dvoroneca opened #1476 "Add new creators to the list of contacts about Alby"

[2022-09-19 08:44] dvoroneca opened #1477 "How do I get and customize my Alby Page? video"

[2022-09-19 08:44] #1477 closed

[2022-09-19 09:16] dvoroneca opened #1478 "Update Figma "Current Design 1.16.0" file"
# [Figma](https://www.figma.com/file/xwGXHxW4FWpV03Tt37atZv/Extension-1.15.0?node-id=1125%3A10942)

[2022-09-19 09:24] AnastasiaVolk opened #1479 "Value for Value Guide for Musicians"
https://app.gitbook.com/o/uiUeRqI074apbV0PWsyf/s/5LYeCzmfS3WOyRoFzbKi/

[2022-09-19 09:32] AnastasiaVolk opened #1480 "How do I monetize my content on YouTube with an Alby Page?"
-  Write a script

-  Record over voice

-  Screencast steps

-  Post-production, add music, intro/outro

- Cover editing

[2022-09-19 11:46] AnastasiaVolk opened #1482 "How do I monetize my content on SoundCloud with an Alby Page?"
How do I monetize my content on SoundCloud with an Alby Page?

With your Alby Page, you can receive payments from your audience directly, instantly and without additional commissions.
Let them do it with the click of a button.

Here we explain to you how it works.
1. First, you need to get your Alby Page. If you don’t know how to do that, watch our video linked in the description, or click on the

[2022-09-19 11:49] AnastasiaVolk commented on #1480
**How do I monetize my content on YouTube with an Alby Page?**

With your Alby Page, you can receive payments from your audience directly, instantly and without additional commissions.
Let them do it with the click of a button.

Here we explain to you how it works.

1. First, you need to get your Alby Page. If you don’t know how to do that, watch our video linked in the description, or click on th

[2022-09-19 14:59] bumi opened #1483 "When an allowance is set the origin data from current tab is being shown in the publisher card on the home screen"
### Steps to reproduce

1. Go to a [youtube channel](https://www.youtube.com/watch?v=-WAZ2UCabZs#) with a Lightning Address configured in their channel (with existing allowance for YT)
2. Open the extension popup
    ![image](https://user-images.githubusercontent.com/100827540/191244684-40348e91-0326-49de-81e7-54e9b4bbed02.png)
3. You will see metadata from the page (and not from the creator) like

[2022-09-20 11:06] reneaaron opened #1490 "Balance on home screen"
### Is your feature request related to a problem? Please describe

As a user I want to see the total balance on the home screen. Currently there is a PublisherCard:

![image](https://user-images.githubusercontent.com/100827540/191240947-d46b97f0-136c-4ebe-b595-5a7e9c75bb7e.png)

Replace the `PublisherCard`with the total balance of the current account on the Home Screen

Maybe we could also remove

[2022-09-20 11:12] dvoroneca opened #1491 "Design a Button animation for the overlay to send Boosts and Superboosts on youtube and other platforms."
During our hackathon day Alby team has created a way to send SATS directly to the creator. Check out the [Loom Link](https://www.loom.com/share/a28ecb6e9d744f17bb2bd4d60878f4a5)

Now we are designing this button that is sitting in the overlay and anyone can contribute to this animation design.
-------

### How that could work? 

A user can click on the boost button multiple times (every time the t

[2022-09-20 16:01] bitcoinuser opened #1492 "Send to ln-address: lightning address server is online but responses with an error alby should show an error"
### Describe the bug

I tried to send sats to a page that have a lightning address but the lightning server was offline.
When trying to send sats nothing happens.

### To Reproduce

Steps to reproduce the behavior:

1. Try to send sats using Alby on a page that have a lightning address but the lightning address server is offline.

### Expected behavior

I expected Alby show an error that the light

[2022-09-20 19:05] #1467 closed

[2022-09-21 07:15] #1437 closed

[2022-09-21 14:37] bitcoinuser opened #1498 "On send window, show a list of lightningaddress from previous payments I did"
### Is your feature request related to a problem?

I want an easy way to send sats to a ln-address I used before. Currently I need to paste or type it in all the time.

### Describe the solution you'd like

When I click on send window, I would like to see a list of all lightningaddress that I already sent payments in the past. So I will not need to type the lightningaddress all times I want to sen

[2022-09-22 05:09] #1405 closed

[2022-09-22 06:25] escapedcat opened #1499 "PublisherCard line-height issue, text is being cut off"
### Describe the bug

PublisherCard without image is cutting of lower and tall letter i.e. `g` and `Ä`

### Screenshots
- ![image](https://user-images.githubusercontent.com/1016218/191673108-a6034edb-7a20-4127-b2b0-2b85b204f0c6.png)
- ![image](https://user-images.githubusercontent.com/1016218/191673214-1a309364-7729-4277-a656-cb5f4b390f0e.png)

### To Reproduce

Steps to reproduce the behavior:

1

[2022-09-22 08:19] dvoroneca opened #1500 "HTML Overlay for streamers to show incoming tips."
Getting ready for the El Salvador Summit, we had an idea to support the organisers and contribute to the digital side of the event. What we can do is offer streamers a customisable HTML overlay layer that they can add to their OBS (Streaming software).

This layer can show streamers' wallet addresses, incoming tips, QR to Alby. Open for conversation...

![Screenshot 2022-09-22 at 10 14 30](https:/

[2022-09-22 11:42] #1499 closed

[2022-09-22 11:49] #1345 closed

[2022-09-22 12:11] reneaaron opened #1504 "Onboarding flow improvements"
### Is your feature request related to a problem? Please describe

The onboarding flow has some flaws that we want to address with this issue.

#### Remove benefits page

 - Users might not see the "Get started" button at the very top
 - Users do not read this page

![image](https://user-images.githubusercontent.com/100827540/191741592-ca1d5b34-4602-4c2d-b326-c552b7fb5da0.png)

#### Remove progres

[2022-09-22 14:05] bitcoinuser opened #1505 "Improve alert-text when deleting a website"
### Describe the bug

If I go to allowance and click on delete, appear this message: Are you sure you want to delete this website?. But I think the text can be improved to something like: If you delete this website, you will loose all history of transactions you did on it, like total of payments and sats spent. Are you sure you want to delete this website?

### Screenshots (If Any)

![Captura de t

[2022-09-22 14:07] bitcoinuser commented on #1505
Hi,

Looks like if I delete a website than I do a payment again to the website I deleted, the previous transactions show again. Is this correct?

[2022-09-22 14:11] bitcoinuser commented on #1505
If yes, what is the logic of have the option to delete a website? Maybe could just have the option to ACTIVATE or DISABLE from: https://github.com/getAlby/lightning-browser-extension/pull/1494, no?

[2022-09-22 15:01] reneaaron commented on #1504
I really like the idea of having contextual contents (top up when wallet balance is 0)! 💯

So for this issue we would at least need the designs for those buttons in the extension popup and how that should look like on the websites screen:

![image](https://user-images.githubusercontent.com/100827540/191781080-de1127f7-f631-4dbc-b495-c8200099956f.png)

 - We could remove the "Your Websites" section

[2022-09-22 15:04] bumi commented on #1504
The idea of the [demo page](https://getalby.com/demo) was to guide the user through the functionality and allow them to use and learn it.

Johns had done some journey mapping on this before, and I think it is important to guide the user through the journey and make sure that there is no dead-end.

[2022-09-22 18:15] dvoroneca commented on #1491
Here is another version of the responsive button design. More focused on the functionality of the button. If we need a cool animation we can incorporate some of the animations from above into this button

<img width="508" alt="Screenshot 2022-09-22 at 20 13 01" src="https://user-images.githubusercontent.com/35034985/191821070-d8563230-e5c8-47e7-ab0c-59d2006bf926.png">

## [Figma file](https://www.

[2022-09-23 03:19] escapedcat commented on #1505
According to this it's not correct: #186

[2022-09-23 03:35] #1457 closed

[2022-09-23 03:35] bitcoinuser commented on #1505
You mean I'm correct, right? payments are not deleted.

[2022-09-23 07:03] reneaaron commented on #1504
@bumi There should definitely be no dead end. We could take it to our extension start page ("websites") where they will see some "fund your wallet" content. (if they have no funds in it)

The problem I see here is that it's not an interactive tutorial where they would actually work with the extension (also they have never seen the extension UI before and can't really imagine how that would work) T

[2022-09-23 08:58] bumi commented on #1504
sure, that page like it is currently is shit. I mean I made it in no time...and for sure it would be good to have something interactive.
but here is the general problem that we have to work on: how do we ship things fast? having something tomorrow is better than having something in a month. So what is the first step to improve?

[2022-09-23 13:56] bitcoinuser commented on #1492
I think that when the server is offline, it really shows an error. What I reproduced with ZBD lightningaddress I think was other problem that @fiatjaf can explain here.

[2022-09-23 14:05] bitcoinuser opened #1510 "Send screen from popup should not show "Remember and set a budget" when i.e. pasting a lightning invoice (or other screens)"
### Describe the bug

If I create a ln invoice on a wallet like Phoenix and copy it and paste on Alby, Alby show the option Remember and set a budget. But doesn't make sense, because it's not a service or a page, so it's not saved.

### Screenshots

![Captura de tela de 2022-09-23 10-59-01](https://user-images.githubusercontent.com/1178856/191978498-cc2a3621-98aa-4c10-8a4b-13d5aa3ac6f3.png)

### T

[2022-09-23 14:21] reneaaron commented on #1504
If we don't have the topup page ready we could tackle the first 2 points from the original issue (Remove benefits page and remove progress bar) and add remove the "Try now" page / add the conditional buttons in a separate step.

[2022-09-23 16:42] fiatjaf commented on #1492
In this specific case the server was not offline, it was returning an error on the first lnurlpay call. Something like `{"status": "ERROR", "reason": "couldn't find user"}`, which is the same error format returned in all other places.

[2022-09-23 17:45] bumi commented on #1504
we can just create a top up page. the most simple version is a page with text...

[2022-09-25 08:18] escapedcat opened #1514 "After sending sats the mainbalance (accont-menu) is not being updated (only after reload)"
### Describe the bug

Balance doesn't refresh on sent / received sats
You have to switch the account on the list again to refresh the balance.

### To Reproduce

Steps to reproduce the behavior:

1. Visit "send"
1. Input a LN-address
1. Input amount
1. "Confirm"
1. See unchanged balance in account-menu

### Expected behavior

The balance should update instantly after sending / receiving sats.

###

[2022-09-25 09:07] #1381 closed

[2022-09-25 13:45] bitcoinuser opened #1517 "Send UX: Too long input placeholder is being cut off"
### Describe the bug

Text in Portuguese is cut on send field

### Screenshots

<img width="280" src="https://user-images.githubusercontent.com/1178856/192146693-4e155976-3923-40c0-9a84-d4dfc640b6b5.jpg" />

### To Reproduce

Steps to reproduce the behavior:
1. Set Portuguese language on Alby and go to Send window

### Expected behavior

See all the text or on mouseover see all the text.

@escaped

[2022-09-25 19:16] vaibhavgarg237 commented on #1510
I'm working on this

[2022-09-25 21:23] bitcoinuser opened #1518 "List LNCal on Alby websites"
### Describe the solution you'd like

List https://lncal.com/ on Alby websites

### Are you working on this?

No

[2022-09-25 22:05] bitcoinuser opened #1519 "List Vida service on Alby websites"
### Describe the solution you'd like

List https://vida.page/ on Alby websites

[2022-09-26 02:41] escapedcat commented on #1510
Thanks! Let me know if you get stuck or need more info

[2022-09-26 06:30] escapedcat opened #1521 "AccountMenu: shows curremcy from settings but fiat value is calculated from default currency (USD)"
### Describe the bug

On every second reload of i.e. the popup the fiat value is incorrect.
Looks like a race-condition.

### To Reproduce

Steps to reproduce the behavior:

1. Open popup
1. Check fiat value
1. Reload or open/close popup
1. Fiat value is wrong

### Expected behavior

Fiat value should always be calculated from currency set in settings

### Alby information

- Alby Version: 1.16.0

[2022-09-26 09:59] #1186 closed

[2022-09-26 11:11] AnastasiaVolk opened #1524 ""How to top up your Alby Lightning Wallet using the Alby extension and Exodus” video"

[2022-09-26 13:04] #1514 closed

[2022-09-26 13:07] #1521 closed

[2022-09-26 22:42] bitcoinuser opened #1527 "Be able to export/import Alby data"
### Is your feature request related to a problem? Please describe

I decided to use Alby on Firefox instead of Brave, so I linked my account of Umbrel again on Alby on Firefox, but I couldn't import the data of Alby of Brave, data like: Websites I interacted, allowances, transactions...

### Describe the solution you'd like

Alby should have an option to export/import Alby data

### Are you workin

[2022-09-27 08:53] escapedcat commented on #304
Can this be closed?
We do this i.e. here, yes?: https://github.com/getAlby/lightning-browser-extension/blob/fix/currency-conversion-rate/src/extension/background-script/actions/ln/sendPayment.ts#L48

[2022-09-27 11:39] bumi commented on #1504
https://github.com/getAlby/lightning-browser-extension/pull/1432

[2022-09-27 12:05] bumi commented on #304
do we store the full location? your link goes to a notification.

[2022-09-27 13:28] bitcoinuser commented on #1142
Closing it because I was confused about some things when I opened it. I think now doesn't make sense have this option.

[2022-09-27 13:28] #1142 closed

[2022-09-27 13:54] bitcoinuser opened #1534 "Add a tag called LIGHTNING LOGIN in front of websites I logged in using Lightning"
### Describe the solution you'd like

For now we have the tag ACTIVE when the user specified a budget to a website. I think should have too, a tag called LIGHTNING LOGIN, when the user logged in a website using lightning login.
I think is important, because make easy to users track in which sites they used lightning to login.

[2022-09-27 14:12] bitcoinuser opened #1535 "Send satoshis window should have the back button too"
### Describe the bug

When clicking on Alby blue icon and click to send sats, I don't see the back button like there are on other Alby windows.
Back button:

![Captura de tela de 2022-09-27 11-05-39](https://user-images.githubusercontent.com/1178856/192549732-9b434d2b-26f3-45bc-a8d9-7711b278dc9a.png)

### Screenshots (If Any)

See the Send Sats window

![Captura de tela de 2022-09-27 11-05-12](htt

[2022-09-27 14:28] bitcoinuser opened #1536 "Notifications of new transactions on Alby icon (badge)"
### Is your feature request related to a problem? Please describe

Today, users are not notified of new transactions. They need to open Alby to see if they received new transactions

### Describe the solution you'd like

I would like to see notifications of new transactions on Alby icon (badge). Like this: https://clevertap.com/blog/app-icon-badges/

### Are you working on this?

No

[2022-09-27 16:32] bumi commented on #1534
nice, good idea to show this as a badge.
related: https://github.com/getAlby/lightning-browser-extension/issues/148

[2022-09-27 18:03] bitcoinuser opened #1537 "Reward the sites that I most visit"
### Is your feature request related to a problem?

Alby could create an option to allow me rewards the sites I visit. How I would like to see this working:

1. I specify how much funds I would like to donate monthly for the sites I visit.
2. I could choose to donate equal % for each site or I could edit and choose to donate for example 30% for one specific site and 70% to all others.
3. Could have

[2022-09-28 02:59] escapedcat commented on #1535
Note: We use this screen in also in the prompt. There we do not need a "back" button.

[2022-09-28 03:08] escapedcat commented on #1536
You mean on the favicon?
<img width="42" alt="image" src="https://user-images.githubusercontent.com/1016218/192678531-700a33fb-a808-4deb-83f6-771d4b940d72.png">

[2022-09-28 05:27] escapedcat commented on #1504
Tasks:

- Remove "progress bar"
- Remove "benefits page" -> So we start at "password", yes?
- Remove last page and go directly to "Websites"
- Improve content for empty "your websites"
- New headline for "Other websites"
- Banner for "topup guide"

[2022-09-28 06:47] escapedcat commented on #576
Should we just use this one as 2ndlight suggested?
https://github.com/getAlby/lndhub.go/blob/main/static/img/logo.png
<img src="https://github.com/getAlby/lndhub.go/blob/main/static/img/logo.png?raw=true" />

[2022-09-28 06:54] MoritzKa commented on #576
Let´s use it.

[2022-09-28 07:33] escapedcat commented on #1510
Heyhey @vaibhavgarg237 , did you already start with this? Do you need any support?

[2022-09-28 07:53] vaibhavgarg237 commented on #1510
It's almost complete, I got occupied in some office work...
Although I was facing some issues related to running tests locally. So I was thinking to first run locally and then do the PR. Will create the draft PR today...

[2022-09-28 08:18] escapedcat commented on #1510
Perfect, yes! No worries if it's not "ready ready" yet. Just seeing some progress is already helpful.
Thanks for your quick reply!

[2022-09-28 08:20] escapedcat commented on #1498
Maybe related to https://github.com/getAlby/meta/issues/15

[2022-09-28 09:14] #1056 closed

[2022-09-28 09:38] bitcoinuser commented on #1536
Yes

[2022-09-28 14:34] bitcoinuser opened #1540 "Alby login button shoud be inactive with a spinner after first click on it"
### Describe the bug

If I click on login, because of delay to really login, the user tend to click on it more than one time.

### Screenshots

https://user-images.githubusercontent.com/1178856/192806375-787a91e8-a6e5-44b5-b40a-ab2a518cb295.mp4

### To Reproduce

Steps to reproduce the behavior:

1. Go to https://makers.bolt.fun/feed
2. click to connect
3. login

### Expected behavior

When clicki

[2022-09-28 22:47] bitcoinuser opened #1542 "Clicking on back button should go to the previous window"
### Describe the bug

Generate an invoice and click back button, should go to previous window and not to home window.

### Screenshots

https://user-images.githubusercontent.com/1178856/192901751-4bda697f-9692-4b34-8ed9-4f3b3df08aa7.mp4

### To Reproduce

Steps to reproduce the behavior:

1. Click on receive button
2. Generate an invoice
3. Click on back button

### Expected behavior

Not go to ho

[2022-09-28 23:29] bumi commented on #9
I'd add the `fetchLsat` function to the `window.alby` library

[2022-09-29 02:22] #1464 closed

[2022-09-29 02:44] escapedcat commented on #1540
@reneaaron @dvoroneca
We only wait for the success response and then close the prompt. For the rest we do not really know when the webpage will recognize this and continue, right? Would and artificial loading spinner help here? Like 1-2 second and then close the prompt for example?

[2022-09-29 09:30] im-adithya commented on #1540
@escapedcat I think it's because we don't use `loading` and `disable` props to `ConfirmOrCancel` in just these two (enable and lnurlAuth) screens (we use it in all other screens). Sending a fix!

[2022-09-29 10:34] dvoroneca commented on #1542
Thank you. This is a very valid point. The back button should take users back to the previous screen. We will take this into consideration when working on creating invoice flow next.  🙌

[2022-09-30 04:21] escapedcat commented on #1540
Ah, thanks @im-adithya , I misunderstood this.

[2022-09-30 07:02] escapedcat commented on #1490
@dvoroneca assigning this to you till the design is done. Hope that's ok.

[2022-09-30 07:27] escapedcat opened #1547 "Github bug/feature templates: Switch to forms"
### Is your feature request related to a problem?

Our issues templates sometimes lead to missing or wrongly input information.
Would be nice to fidn a way to "guide" a user through these when filing an issue.

### Describe the solution you'd like

Currently we use simple templates for these.
Other projects use external services.

Zeus uses github but with a "form-generator":
 - See: https://githu

[2022-09-30 10:32] kiwiidb commented on #1390
FYI: https://github.com/jb55/lnsocket/issues/16

[2022-09-30 15:07] bitcoinuser commented on #1537
I created a post here: https://makers.bolt.fun/story/option-to-reward-sites-on-alby--130

[2022-09-30 15:07] #1537 closed

[2022-10-01 14:00] bitcoinuser opened #1550 "If I set a budget and then I try to pay again with a value greater than I set, the option remember and set a budget still appear"
### Describe the bug

If I set a budget and then I try to pay again with a value greater than I set, the option remember and set a budget still appear.

### To Reproduce

Steps to reproduce the behavior:

1- Go to https://makers.bolt.fun/donate
2- Choose 50 sats and click on make a donation.
3- Enable remember and set a budget option with amount 100 sats, then Pay Now.
4- Refresh the page and now

[2022-10-02 02:29] aaronbarnardsound commented on #1390
@kiwiidb I have created a pure JS version of lnsocket that works nicely in the browser that you can [check out here](https://github.com/aaronbarnardsound/lnmessage).

[2022-10-02 12:42] tadeubas opened #1551 "Your Websites page not showing some outgoing transactions [extension on Firefox]"
### Describe the bug

When you check the extension Settings, the Websites tab don't show some transactions

### Screenshots of the changes [optional]

#### The Websites page:

![1](https://user-images.githubusercontent.com/5518496/193462714-6fc0380d-1e52-496e-b8f0-208fd30cbb9c.png)

#### After clicked on the website to see more details:

![2](https://user-images.githubusercontent.com/5518496/19346

[2022-10-02 12:52] tadeubas opened #1552 "Possibility to add a note or label on outgoing and incoming transactions"
### Feature description

As a user I would like to add notes or labels on my transactions to know where the sats came from and where did they go and for what reason. Ex: I've added 1,000 sats directly from my exchange, then I've added another 1,000 sats but it was from a family member BlueWallet custodial LN

### Describe the solution

Provide some way to add notes/labels/information at any outgoi

[2022-10-03 03:43] escapedcat commented on #1551
Hey @tadeubas , indeed this is confusing. Let me try to explain 🤞

We recently updated the extension to not use "Alby" as a "website" anymore. Before we the code always got an "origin" from any "website" when you did a payment on it. But when you use "Send" directly form the extension-popup it used to grab the "origin" from the popup (which is also a "website"), which then just is "Alby" and then

[2022-10-03 03:49] escapedcat commented on #1552
For outgoing txs this could be possible because those are stored in the browser-storage.
The incoming ones we currently get directly form the node without being stored by the extension.

[2022-10-03 07:56] escapedcat commented on #1490
Further notes:
When we talk about the design we should think about splitting `PublisherCard` (for the allwoance view) from "found lightning-address info". This tends to be highly confusing and causes misunderstandings and bugs. If we can not tackle this in this issue we can open a new one.

[2022-10-03 08:08] dvoroneca opened #1557 "Twitter user feedback research"

[2022-10-03 08:10] #1483 closed

[2022-10-03 08:10] dvoroneca commented on #1557
For the [#404 UX Research Call #5: GetAlby User Feedback](https://github.com/BitcoinDesign/Meta/issues/404)

https://github.com/BitcoinDesign/Meta/issues/404

[2022-10-03 08:17] dvoroneca opened #1558 "Top up with on-chain address user flow"

[2022-10-03 08:23] dvoroneca commented on #1558
Users want to receive funds / or top up their account.

Design a user flow that would finish the onboarding for the users and allow them to start using Bitcoin micropayments on the web.

https://www.figma.com/file/OszHSwkAH1IiiyWI650iwE/On-chain-bitcoin-onramp?node-id=1%3A2214

[2022-10-03 08:48] #1470 closed

[2022-10-03 09:09] bumi commented on #1008
maybe we should remove it when it gets too old? @reneaaron

[2022-10-03 09:33] reneaaron commented on #1008
Agree, we should remove outdated ones. I can also record a new one if that makes sense?

/cc @MoritzKa

[2022-10-03 10:59] #1262 closed

[2022-10-03 11:09] #1551 closed

[2022-10-03 18:47] dvoroneca opened #1560 "LNURLWithdraw can be received by pasting in to send. Needs UX improvement"
We must have an option for the user to paste the LNURL invoice when users want to receive payment from other wallets. I suggest we add a switch component.

- [ ] We have a switch component in the transactions screen. We reuse it with 1. Create an invoice and 2. Paste an invoice.

- [ ] Paste an invoice page that will consist of an input field and a Next button

- [ ] Add a success screen from http

[2022-10-03 23:14] dvoroneca commented on #1560
We can work on the component to make it nicer for the coming sprint.

<img width="780" alt="Screenshot 2022-10-03 at 20 41 09" src="https://user-images.githubusercontent.com/35034985/193653806-0f319991-3d43-48a2-8c12-7317f96c76e5.png">

1. We can have a simple text switch:
<img width="487" alt="Screenshot 2022-10-03 at 20 39 28" src="https://user-images.githubusercontent.com/35034985/193653486-577

[2022-10-04 03:13] bitcoinuser commented on #1560
For me make much more sense use the text "redeem funds" instead of "paste an invoice"

[2022-10-04 03:34] bitcoinuser commented on #1560
And instead of "Lnurl invoice" I would use "Redeem code".

[2022-10-04 09:50] #576 closed

[2022-10-04 10:03] #148 closed

[2022-10-04 10:39] reneaaron opened #1564 "📋 Clipboard support"
Fixes #1560

### Feature description

When I have an invoice on my clipboard it would be awesome if Alby would detect that and would offer to take me to the screen where I can pay / withdraw. That could potentially also remove a lot of confusion about different ways to pay / withdraw (LNURL, invoices, LNURL-withdraw, etc).

**TODOs**
 - [x] Check browser APIs

Related docs:
- https://developer.moz

[2022-10-04 10:40] reneaaron commented on #1560
I generally agree to write copy from the user perspective, but as protocols are currently being established I feel like it is important to let the user know what is being used here.

I wouldn't know what I am supposed to paste if an extension wants a "redeem code"  from me, probably I'd assume that would be a proprietary thing.

But maybe there are other ways to improve the overall flow, I just su

[2022-10-05 00:13] #1540 closed

[2022-10-05 04:18] escapedcat commented on #1560
Thanks everyone! Moving the technical implementation to [milestone 1.18](https://github.com/getAlby/lightning-browser-extension/milestone/6)

[2022-10-05 04:29] escapedcat opened #1566 "UI: update tab-style - ON HOLD"
### Feature description

Update tabs-style
![image](https://user-images.githubusercontent.com/1016218/193981295-682c57c4-852c-4e03-8215-4848ed1e0d7f.png)
![image](https://user-images.githubusercontent.com/1016218/193981263-39200ac4-3e9d-45cd-ac86-4461dd89d2fa.png)
![image](https://user-images.githubusercontent.com/1016218/193981310-c2feb0ab-89fe-416a-987c-c3a37d880a71.png)

If you start working on

[2022-10-05 07:49] #1492 closed

[2022-10-05 11:18] MoritzKa opened #1567 "Display icon next to balance in the pop up or remove it if it cannot be displayed properly"
### Describe the bug

The (bee?) icon is not displayed properly on Chrome (Windows)

### Screenshots of the changes [optional]

![5kdjIvopc8](https://user-images.githubusercontent.com/13707997/194047938-4b2793bf-94df-4d13-8a44-8df3a113f4c4.png)

### To Reproduce

Steps to reproduce the behavior:

1. Open the extension
2. Select an Alby account

### Expected behavior

a properly displayed icon or n

[2022-10-05 11:19] MoritzKa commented on #1567
not super urgent. but fix should be quick anyway.

[2022-10-05 11:27] MoritzKa opened #1568 "back and forth navigation on the publisher screen"
### Feature description

The latest release allows navigating to the home screen in the pop up. But there is no way to navigate back to the website/publisher screen

### Describe the solution

Add the possibility to navigate back and forth
just for illustration purposes
![image](https://user-images.githubusercontent.com/13707997/194049771-967cf955-a48a-40dd-97db-ab20bbf96da3.png)
![image](https://

[2022-10-05 11:27] MoritzKa commented on #1568
not urgent.

[2022-10-05 12:17] bumi commented on #1568
I think this has been there for a while already and not part of the latest release.
is this really a case? why did you want to do that?

(closing and opening the popup does that)

[2022-10-05 12:40] escapedcat commented on #1566
@Nasimmhn yes! Thanks! Let us know if you need any support or get stuck.

[2022-10-05 15:58] fanismichalakis opened #1569 "Use minSendable and maxSendable values from LNURLp response to cap user input"
### Feature description

Right now, when paying using LNURL-pay (either directly of through a Lightning Address), the `minSendable` and `maxSendable` fields aren't use to their full extent. From what I can see, `minSendable` only seems to be used to populate the amount field on Alby. If a user tries to pay an amount that is lower than `minSendable`, no error will display until the payment is actua

[2022-10-06 00:29] escapedcat commented on #1569
Awesome @fanismichalakis ! Thanks for tackling this! Let us know if you get stuck or need any feedback.

[2022-10-06 01:48] bitcoinuser opened #1571 "Open and close the extension-popup lead to lost navigation-state and lost filled inputs"
### Describe the bug

Go to send window and fill the comment field. Close Alby window and open again, the info you filled will be lost and you will need to fill it again.

### Screenshots of the changes [optional]

[Gravação de tela de 05-10-2022 22:39:20.webm](https://user-images.githubusercontent.com/1178856/194195803-3f91fbbe-5145-471c-98f7-8c22bb397bb1.webm)

### To Reproduce

Steps to reprodu

[2022-10-06 01:55] bitcoinuser opened #1572 "Forms: disable fom/fieldset/inputs after submit"
### Describe the bug

I'm able to type text on fields after I click on confirm button

### Screenshots of the changes [optional]

[Gravação de tela de 05-10-2022 22:52:10.webm](https://user-images.githubusercontent.com/1178856/194196838-80351ada-3f92-464d-b7cb-196a99fb4b3c.webm)

### To Reproduce

See the video

### Expected behavior

Not be able to type any information on the fields of send windo

[2022-10-06 02:56] escapedcat commented on #1571
Closing and open an extension-popup is like a hard website reload. Navigationstate and input is lost. Not sure if this possible to solve without a big effort. Wondering how other extensions handle this. i.e. metamask.
I believe @dvoroneca noticed this before as well.

[2022-10-06 03:05] bitcoinuser commented on #1572
I think even the cancel button should be disabled, because we can't cancel a payment that is already being processed. Right?

[2022-10-06 09:00] reneaaron commented on #1571
I've noticed the same behavior in other browser extensions as well and I think there is no easy solution to this problem.

https://github.com/bitwarden/clients/issues/3013

As @escapedcat noted the page is reloaded which would require us to persist (and re-hydrate) the current state of the popup into some kind of `sessionStorage` (which I think is quite a hard thing to do, especially for e.g. form

[2022-10-06 14:03] MoritzKa opened #1573 "Website screen logos are slightly off"
### Describe the bug

The logos of app on the "Website" screen do not fill the whole place properly.

### Screenshots of the changes [optional]

![image](https://user-images.githubusercontent.com/13707997/194333195-a2775c48-3812-4d1b-819a-0f1a9d07267e.png)

### To Reproduce

Steps to reproduce the behavior:

1. Visit the "Websites" screen in the Alby extension

### Expected behavior

logos fill th

[2022-10-06 15:39] reneaaron opened #1574 "Remove brackets from success screen"
### Describe the bug

Brackets arount SATS on the success screen

### Screenshots of the changes [optional]

![image](https://user-images.githubusercontent.com/100827540/194356975-76709b7b-3cac-4a29-82c6-10bd63aa79d6.png)

### To Reproduce

Steps to reproduce the behavior:

1. Send a transaction to a Lightning Address
2. See the success screen

[2022-10-06 17:42] rottingcleaner commented on #1573
The broken logo thumbnails have a transparent gap at the bottom of each SVG image. This is the reason for the incorrect display. In my screenshots you can see the spacing at the bottom.

To display the images without visually errors, all thumbs should be **square** and **completely filled** with a (background) color.

Maybe @auwalrg8 can optimize affected thumbnails.

👎

- **Thumb 1**

![wrong 2](

[2022-10-06 18:00] rottingcleaner commented on #1567
LNbits works great.

![Screenshot 2022-10-06 at 19 59 41(1)](https://user-images.githubusercontent.com/114179325/194385659-5f22c3aa-3268-4a8a-836d-b9c5c25676f5.png)

[2022-10-06 19:33] vaibhavgarg237 commented on #1572
I'm working on this

[2022-10-06 19:45] reneaaron commented on #1504
Adding this information here for further discussion:
 - Add a "Pin extension" screen to onboarding
![image](https://user-images.githubusercontent.com/100827540/194404282-286afee4-19b9-4d11-844d-a8cd0accdbd8.png)
 - Add a link to getalby.com for getalby.com users (where they can login with the extension and can use it for the first time)
![image](https://user-images.githubusercontent.com/100827540/

[2022-10-06 20:28] vaibhavgarg237 commented on #1572
I have disabled the Amount, Comment, Name, Email, sats Buttons, and Cancel button after tapping on confirm

[2022-10-06 20:29] kiwiidb commented on #1390
@aaronbarnardsound thank you so much, your library is awesome!
It works, and I've started working on an integration in #1577

[2022-10-06 21:35] aaronbarnardsound commented on #1390
@kiwiidb Sweeeet! Let me know if you run in to any issues, bugs or if you have any feature requests.

[2022-10-07 00:39] #1574 closed

[2022-10-07 04:07] escapedcat commented on #1573
@rottingcleaner is it possible to use a fill property via css to always fill the square? That means maybe 1-2px might be cut of but at least we solve the general issue no matter what exact icon proportions?

[2022-10-07 04:18] escapedcat commented on #1567
@rottingcleaner that name is short enough ;)
This i.e. looks bad:
![image](https://user-images.githubusercontent.com/1016218/194466853-18e81fb3-6d35-42a7-817d-7de4ebfa2961.png)

If it's longer it will break, because we use `substring`:
https://github.com/getAlby/lightning-browser-extension/blob/master/src/app/components/AccountMenu/index.tsx/#L40

I think this should be handled [via CSS (ellipsis)

[2022-10-07 09:05] rottingcleaner commented on #1573
@escapedcat I don't think, it will solve the problem. But I can try it. Which color I should use to fill the squares?

From my perspective we should use prepared thumbnails without spacing around. That will increase the quality.

[2022-10-07 09:39] escapedcat commented on #1573
Um, no, I mean something like this:
https://developer.mozilla.org/en-US/docs/Web/CSS/background-size
`background-size: cover;`
Although on this issues' case it's not a background-image.

Sure, that's the nicer solution

[2022-10-07 10:21] rottingcleaner commented on #1573
Ah, ok. I tried out but also this solution is not really an option as long the thumbnail/image itself has a transparent space.

I think we have no posibilities to fix the issue clean on the CSS side.

![Screenshot 2022-10-07 at 12 14 17](https://user-images.githubusercontent.com/114179325/194531814-297da2c4-8289-434e-ae54-4eaba6451782.png)
![Screenshot 2022-10-07 at 12 17 40](https://user-images.g

[2022-10-07 16:39] rottingcleaner commented on #1517
Alternatively we can add the `title` attribute to the input field. On mouse over the user will see a browser native tooltip with the full text of the input-placeholder. Easy to implement.

![Screenshot 2022-10-07 at 18 35 26 (1)](https://user-images.githubusercontent.com/114179325/194604075-421cdc94-b53a-4786-8672-ddc9f266891a.png)

[2022-10-08 10:47] reneaaron commented on #1564
# Design inspiration

## Integrating via button
![image (1)](https://user-images.githubusercontent.com/100827540/194703625-6caf77ab-5897-4f51-81b7-822ca0d4808e.png)
![image](https://user-images.githubusercontent.com/100827540/194703632-1da795cf-b502-4ead-9c4b-fb460e446d53.png)

## Integration via context-aware popups
From [bitcoin.design](https://bitcoin.design/guide/daily-spending-wallet/contacts

[2022-10-08 11:27] reneaaron commented on #1536
Generally like the idea. There are badges available to display on the extension icon:

https://developer.chrome.com/docs/extensions/reference/browserAction/#method-setBadgeText
`browser.browserAction.setBadgeText({ text: "25" });`

![image](https://user-images.githubusercontent.com/100827540/194705023-f9eb8917-d160-45f2-82f6-3752a0b63edf.png)

Questions to tackle:
 - Fetching of transactions in th

[2022-10-08 12:04] bitcoinuser commented on #1536
I think the simple action of opening Alby and clicking on Incoming tab, should mark as seen.

[2022-10-08 12:12] bitcoinuser commented on #1536
Maybe on Incoming tab, have a button called (New transactions), when the user click on it expand and show the new transactions and at same time is marked as seen.

[2022-10-08 18:10] vaibhavgarg237 opened #1588 "Docs: Unit tests fails for node versions mentioned in docs"
### Describe the issue

_While doing development setup according to [documentation](https://github.com/getAlby/lightning-browser-extension#-quick-start) unit tests were failing._

### To Reproduce

Steps to reproduce the behavior:

1. `git clone https://github.com/getAlby/lightning-browser-extension.git`
2. `yarn install`
3. `yarn test:unit`
4. Either partial test cases fails, or some other error

[2022-10-08 18:12] vaibhavgarg237 commented on #1588
Running tests on v16.16.0  ->  Partial tc's passes
[code]

Running tests on v14.0.0 shows the below error

[code]

[2022-10-08 18:15] vaibhavgarg237 commented on #1588
Currently, these versions are failing!
[code]

[2022-10-09 06:11] escapedcat commented on #1588
Thanks for pointing this out!

Would you be interested to create a PR for this?
We could:
- Update these to the latest v14 version: 14.20.1
   - https://github.com/getAlby/lightning-browser-extension/blob/master/.node-version
   - https://github.com/getAlby/lightning-browser-extension/blob/master/.nvmrc
- This should say just say `=` instead of `>=`: https://github.com/getAlby/lightning-browser-ex

[2022-10-09 06:39] vaibhavgarg237 commented on #1588
@escapedcat  I already created PR, yesterday with 14.20.1. Check out the below link.
https://github.com/getAlby/lightning-browser-extension/pull/1589

[2022-10-09 06:56] vaibhavgarg237 commented on #1588
Updated changes for other files too...
Checkout updated files here https://github.com/getAlby/lightning-browser-extension/pull/1589/files

[2022-10-09 07:55] escapedcat commented on #1588
Thanks!

[2022-10-09 07:55] #1588 closed

[2022-10-09 08:05] escapedcat commented on #1517
Yeah, but I don't think this is a common or learned UX pattern we should use. If you want to "hide" hint-texts usually people use some sort of "i"-icon with a hover, but I don't think we currently need that. A clear text below an input does the job. What do you think?

[2022-10-09 08:25] escapedcat opened #1593 "Amount-input changes value on scroll (mouse/touchpad)"
### Describe the bug

Scrolling the mouse/via touchpad within an amount-input will change the value. Issue is that a user might not notice that the wheel was used and the amount was changed.

### Screenshots of the changes [optional]

![image](https://user-images.githubusercontent.com/1016218/194745576-f27bd959-cb21-4f98-b1ca-b5b7eee8505d.png)

### To Reproduce

Steps to reproduce the behavior:

1

[2022-10-09 08:49] g1mishra commented on #1593
@escapedcat Please align with me.

[2022-10-09 09:16] escapedcat commented on #1593
Thanks for tackling this! Let us know if you get stuck or need more information.

[2022-10-09 09:49] escapedcat commented on #1536
We could also add a "dot" to the "incoming" tab to indicate new ones which will be removed after clicking the tab. New txs could be marked as well maybe.

Regarding using the "badgeText": Do you think there's a chance we might use this for something else in the future? Once a user is used to "these are new transactions" it might not be easy to use it for something else. Just a thought.

[2022-10-09 09:56] reneaaron commented on #1517
Can you post a screenshot of how that would look?

[2022-10-09 09:59] escapedcat commented on #1517
![image](https://user-images.githubusercontent.com/1016218/194750434-972bc2b8-7559-4d81-bea5-188e2f5b1aaf.png)

[2022-10-09 11:33] g1mishra commented on #1593
Yes, I'm working on this. I'll update you soon.

[2022-10-09 12:02] reneaaron commented on #1536
Good point. We should put some thought into that. Right from the top of my head I couldn't come up with something else that would make sense in there though.

[2022-10-09 13:51] bitcoinuser commented on #1536
Great idea

Even if there are other uses of badge, I don't see it as a problem. Badge can show 11 and I can have 10 new transactions and 1 other kind of notification.

[2022-10-09 14:32] buneeIsSlo commented on #1547
@escapedcat Hey! I want to work on this.

[2022-10-09 14:34] bitcoinuser opened #1596 "Settings: Text very close to the "switch"-button"
### Describe the bug

Text is very near the button

### Screenshots of the changes [optional]

![Captura de tela de 2022-10-09 11-31-20](https://user-images.githubusercontent.com/1178856/194762577-ce0a97f0-11ad-4569-bbf3-e30aff6c0957.png)

### To Reproduce

Steps to reproduce the behavior:

1. Change language to Portuguese Brasil on settings
2. See the LNURL-Auth antigo

### Expected behavior

Tex

[2022-10-09 14:37] bitcoinuser opened #1597 "Settings: Text is displayed with HTML-tags"
### Describe the bug

Text with strange symbols like <br /> , </strong>...

### Screenshots of the changes [optional]

![Captura de tela de 2022-10-09 11-34-59](https://user-images.githubusercontent.com/1178856/194762750-dc3ba111-b2f8-45f1-afd0-d94996b28da4.png)

### To Reproduce

Steps to reproduce the behavior:

1. Go to Settings
2. LNURL-Auth

### Expected behavior

Text without strange symbols

[2022-10-10 02:51] escapedcat commented on #1547
Thanks @buneeIsSlo ! Assigned you. Let us know if you need any further info or feedback.

[2022-10-10 07:38] escapedcat commented on #1475
Can this be closed?

[2022-10-10 07:53] MoritzKa commented on #1471
Did you make a video for creators?

[2022-10-10 08:27] dvoroneca opened #1600 "Sort User Feedback from the meeting docs to feedback.getalby.com with tags"

[2022-10-10 08:29] dvoroneca commented on #1600
https://drive.google.com/drive/folders/12UtuatcpJeIP3aamW6VngclcfoIOb8Vt

User feedback collection and sorting for Tuesday 11. Oct Design Refinement meeting.

[2022-10-10 09:47] #1475 closed

[2022-10-10 12:25] #1593 closed

[2022-10-10 17:20] vaibhavgarg237 commented on #1517
Just for reference
![image](https://user-images.githubusercontent.com/67408018/194919867-c8f546a8-c771-4463-a86f-d8d90735a874.png)

[2022-10-10 17:27] vaibhavgarg237 commented on #1517
I feel in the case of placeholder text, we can indicate the user for action i.e. "Paste here...". Like below-attached screenshot. What do you think?

@escapedcat I opened a PR #1591, with this change

![image](https://user-images.githubusercontent.com/67408018/194920991-ca0055c0-bbb6-4718-980b-c6112f24e24e.png)

[2022-10-10 18:21] vaibhavgarg237 commented on #1597
@escapedcat I have opened PR #1604 to fix this.

The hint text contains HTML tags that didn't parse, so it appeared as it is in the app. For this we need to use [**html-react-parser** npm package](https://www.npmjs.com/package/html-react-parser) to parse the string. Now it's showing the text as expected with the relevant Br and Strong tags.

[2022-10-10 18:45] vaibhavgarg237 commented on #1596
@escapedcat We can add mr-1 [here](https://github.com/getAlby/lightning-browser-extension/blob/118ab3614240443e05ccd133194f83929c52be63/src/app/components/Setting/index.tsx#L14) in Settings component.
It will add some space in right between the toggle button and subtitle text.

Updated
![image](https://user-images.githubusercontent.com/67408018/194932661-b4fbfe9e-d8a8-46b3-a3a2-a68db42f4ae1.png)

[2022-10-11 03:27] buneeIsSlo commented on #1547
Hi! @escapedcat I've raised a PR, could you please take a look at it?

[2022-10-11 03:57] escapedcat commented on #1547
Saw it, thinking about how to test it. Eventually we're just gonna merge it and will do corrections if needed. Will let you know.

[2022-10-11 04:11] buneeIsSlo commented on #1547
@escapedcat Got it! Thank you.

[2022-10-11 05:25] escapedcat commented on #1517
/cc @dvoroneca

[2022-10-11 05:27] escapedcat commented on #1596
Thanks for your suggestion @vaibhavgarg237 ! You wanna create a PR?

[2022-10-11 05:33] vaibhavgarg237 commented on #1596
Okay, I will open a PR. You can assign it to me.

[2022-10-11 06:50] escapedcat commented on #1547
Thanks for you PR! I commented.

[2022-10-11 15:07] dvoroneca commented on #1558
The idea for bitcoin onramps:
### 1. Chrome extension browser view welcomes the new user with a list of options to top up the account
### 2. Directs users to instructions on GitBooks with links
2.1 Hot-to-use lightning address (Alby wallet users)
2.2 How to top up with an on-chain address (Alby wallet users)
2.3 How to top up with Fiat (Alby wallet users)
2.4 Send from another lightning wallet (Al

[2022-10-11 15:41] vaibhavgarg237 commented on #1596
@escapedcat  I have opened a PR for this issue.

[2022-10-11 17:11] bitcoinuser opened #1608 "Sometimes fiat value appear as 0 but should show none info or other kind of rendering"
### Describe the bug

Sometimes I open Alby and I look to see how much the sats I have is representing in fiat. But sometimes maybe because it take some seconds to load or maybe because the fiat quote provider service is offline, the value appear as 0.

### Screenshots of the changes [optional]

This screenshot is working ok, I couldn't take a screenshot reproducing the problem

![Captura de tela

[2022-10-11 18:02] vaibhavgarg237 commented on #1608
**I feel it shows 0 because initialState of currencyRate is set to be 0**
https://github.com/getAlby/lightning-browser-extension/blob/49705ab42ed5f9efaeb4c1d21c7832610f0d1e2e/src/app/context/SettingsContext.tsx#L30

**Initial stage of fiatBalance :**
https://github.com/getAlby/lightning-browser-extension/blob/5156710bce3f21ce543a0f2fda89f0db2e724318/src/app/context/AccountContext.tsx#L53

[2022-10-12 04:27] escapedcat commented on #1608
@bitcoinuser is the `0` usually replaced by a fiat value after some time/seconds or does it stay?
If this just shows during loading we could i.e. just show `...` if fiat is `0` as a first fix. No need to add a spinner I think.

[2022-10-12 04:28] escapedcat commented on #1558
Do we already have the final links?

[2022-10-12 06:10] #1596 closed

[2022-10-12 06:41] reneaaron commented on #1517
What do you think of this?

 - Label: `Recipient`
 - Placeholder: ``
 - Helptext: `Invoice, Lightning Address or LNURL`

[2022-10-12 14:35] bumi commented on #1608
yes, esp. in slow connections this happens and is visible.

[2022-10-12 15:51] vaibhavgarg237 commented on #1608
I feel we can change [this](https://github.com/getAlby/lightning-browser-extension/blob/5156710bce3f21ce543a0f2fda89f0db2e724318/src/app/components/AccountMenu/index.tsx#L95-L97) with below mentioned [changes in the image ](https://gist.github.com/vaibhavgarg237/4f5bdfe160d9cea20c9b727f9d436d9b#file-index-tsx)

Current Code:
https://github.com/getAlby/lightning-browser-extension/blob/5156710bce3f2

[2022-10-13 03:07] #1597 closed

[2022-10-13 03:29] escapedcat commented on #1608
Hm, currency depends on the settings. So checking for i.e. `$` will not cover all cases, right?
Play around with the currencies in "settings".
Wanna check what solution might work better here?

[2022-10-13 03:54] vaibhavgarg237 commented on #1608
Oh I forgot that one. Will make it dynamic.

[2022-10-13 17:36] vaibhavgarg237 commented on #1608
@escapedcat I have opened a PR for this issue with the proposed changes. Can assign this issue to me?

[2022-10-13 19:35] MoritzKa opened #1615 "Different descriptions when using Alby on Linktree"
### Describe the bug

Fab vs. ab see screenshot. And where do we take the description from: "View fabthefox´s linktree. Listen to their music on Spotify here."
I is a podcast not music.

### Screenshots of the changes [optional]

![image](https://user-images.githubusercontent.com/13707997/195691958-34c37696-505a-4f36-b2dc-36a45e83254b.png)

### To Reproduce

Steps to reproduce the behavior:

1. Vi

[2022-10-14 06:02] ranjithjupaka commented on #1571
I would like to work on this issue.

[2022-10-14 06:05] ranjithjupaka commented on #1568
I would like to work on the issue can you assign this to me.

[2022-10-14 13:10] escapedcat commented on #1571
Uhm, we're not sure we really want to do that. How would you tackle this? Maybe you can write down some steps/keywords/ideas first before we continue?

[2022-10-14 13:15] escapedcat commented on #1568
Before any action maybe describe how you would tackle this first. Would like to avoid you wasting time.
I think we still need at least a mockup and/or a design as well.

[2022-10-14 16:25] vaibhavgarg237 commented on #1517
TBH, the empty placeholder seems slightly odd, although this label and hint look good. Can we add "Paste here" or some similar text here?

![image](https://user-images.githubusercontent.com/67408018/195894466-b943856e-e401-4905-b90a-3b9511b7cc91.png)

[2022-10-14 18:42] vaibhavgarg237 opened #1617 "Refactor: use form onSubmit for ConfirmorCancel"
### Description

Currently for calling Confirm from ConfirmorCancel component we use onClick as a prop, due to which user can't use Enter key to submit the form, wrapping it inside a form would be better.

### Describe the solution

Wrapping all the ConfirmorCancel components forms with forms and handling submit operation via onSubmit instead of onClick

### Describe alternatives

After merging PR

[2022-10-14 18:45] vaibhavgarg237 commented on #1617
Will open a PR for this after PR #1576 gets merged to avoid optional onClick related merge conflict

[2022-10-14 19:57] MoritzKa opened #1618 "Update the RaspiBlitz Connector Page"
### Describe the bug

RaspiBlitz was updated. We need new instructions to connect to Alby.

### Screenshots of the changes [optional]
suggestion:

![POWERPNT_CkA9BH8dJa](https://user-images.githubusercontent.com/13707997/195931031-927aba17-c441-4d86-b07e-28edd46967c2.png)

### To Reproduce

Steps to reproduce the behavior:

A new video is already available.

1. Click on 'Add a new account'
2. Scro

[2022-10-15 06:46] MoritzKa commented on #868
Feedback from a user
Sep 29, 2022
When I connect my Raspiblitz via Tor or Local IP, I cannot receive any payments. The transaction always fails.

The funny thing is that I also run a BTCPayServer and Lnbits on the same node and when I include those I can receive payments without any problems :D

[2022-10-15 20:30] reneaaron commented on #1517
I'm okay with the empty field, to me that seems fine. I don't feel like every field needs to have a placeholder.
`Paste here` feels wrong to me as you can also _type_ a lightning address.

[2022-10-16 07:27] vaibhavgarg237 commented on #1517
Okay. I have updated PR #1591 with this change & test

[2022-10-16 15:48] bumi opened #1622 "Add HMAC signature to new wallet requests"
### Feature description

To validate the new wallet requests we should add a hmac signature.

[2022-10-16 18:42] #1510 closed

[2022-10-16 18:51] bumi commented on #1314
can we remove those node-version and nvmrc files?
I don't think we have really version specific code. multiple versions should be supported.

[2022-10-16 19:01] bumi commented on #1588
actually I can not believe that this is correct, what is the node 14 specific code?

In this issue and in the PR there is no answer on what is not supported. what is the root cause here?
Can you explain why only node 14 is supported? if we can not then we should not make such a change before knowing the details.

[2022-10-16 20:10] #1567 closed

[2022-10-16 20:26] bumi opened #1623 "Cleanup merged branches"
We got 70+ branches. merged/squashed branches should be deleted I guess.

[2022-10-17 06:26] escapedcat commented on #1622
Please elaborate

[2022-10-17 07:10] #1572 closed

[2022-10-17 07:36] escapedcat commented on #1566
Hey @Nasimmhn you need any support? Did you already start?

[2022-10-17 08:01] dvoroneca commented on #1558
https://guides.getalby.com/overall-guide/alby-lightning-wallet/how-to-top-up-your-wallet-balance

![Image](https://user-images.githubusercontent.com/35034985/196119912-b3c356bf-093d-4c34-beb0-6e99cdd821ff.png)

What we need is:
1. Receive Bitcoin to your Bitcoin address “Fund your wallet” with on-chain BTC = From another bitcoin wallet

2. Buy Lightning Bitcoin with Fiat “Fund your wallet” with Fi

[2022-10-17 08:03] dvoroneca commented on #1600
Scheduled for Tuesday 18 October 10:00 am CET

[2022-10-17 11:29] im-adithya opened #1624 "chore: align translations for `sats`"
### Describe the bug

See https://github.com/getAlby/lightning-browser-extension/pull/1581#discussion_r996646400

### Expected behavior

Aligned usage

### Additional context [optional]

Wait for #1581

### Are you working on this issue?

Yes (Open for contributors though!)

[2022-10-17 15:16] juangb87 opened #1625 "LNDhub connection - Incoming sorting bug (oldest-newest)"
There's a bug with the LNDHub connection (connected with BlueWallet) and the incoming (received) sorting right now received transactions are sorted oldest-newest.
![Alby](https://user-images.githubusercontent.com/52425945/196215529-de0aeb72-05f3-4760-bcc6-83a45fb72cfd.png)

[2022-10-17 15:19] kiwiidb commented on #1390
@aaronbarnardsound we have run into some issues. See this Loom video for the current status:

https://loom.com/share/8b04e1aa80eb4124b5833cd673f09bae

I would need to look more into detail in the library itself and play around with it more.
It is however quite hard to debug because you don't know what's happening behind the scenes, the websocket messages are all encrypted. I also think I would lik

[2022-10-17 16:05] dvoroneca opened #1627 "Getalby.com website UI issues."
## There are inconsistencies with our website design.

- [ ] The header font should be bold

- [ ] the gap between “The Bitcoin Lightning App for your Browser” and the subheader “Alby brings Bitcoin payments..” should be 16p.

- [ ] And the header should stick to the top when resizing.

*the yellow field above the fold is fine, it's just the screenshot soft added some extra yellow field. ignore it

[2022-10-17 16:17] #1627 closed

[2022-10-17 19:59] #1625 closed

[2022-10-17 20:50] aaronbarnardsound commented on #1390
Hey @kiwiidb happy to work with you on this! I have been doing a lot of work getting the commando connection rock solid for an app I am currently working on, and I believe it is in a good spot. Happy to jump on a call with you to help debug at some point as well, but here are some steps you can take in the meantime:

1. Make sure you are on the latest version of `lnmessage` as I have been releasin

[2022-10-18 08:00] MoritzKa opened #1630 "Send button on YouTube not active"
### Describe the bug
Send button on YouTube does not show up and Alby is not blue on different tabs in a youtube channel.

### To Reproduce

Steps to reproduce the behavior:

I have a Lightning Address with emoji in my YouTube channel in the About page
I also have a link to the Alby page in my profile. but it is https://getalby.com/moritz instead of https://getalby.com/p/moritz
My YouTube channel:

[2022-10-18 11:35] escapedcat commented on #1504
Welcome designs can be found here: https://github.com/getAlby/getalby.com/issues/231#issuecomment-1282236973

[2022-10-18 11:37] dvoroneca commented on #1504
Yes, thanks for redirecting.

[2022-10-18 17:29] bitcoinuser opened #1631 "Sent transaction appear on received tab as +-"
### Describe the bug

I did a lightningaddress transaction using Alby (The account connected is Lnbits from Umbrel), and the transaction appear on received tabs with +-
obs. Appear on sent tab too correctly

### Screenshots of the changes [optional]

![photo_2022-10-18_14-25-12](https://user-images.githubusercontent.com/1178856/196502357-ebdcf69c-3f35-423d-93c5-8898073c2e88.jpg)

### To Reproduce

[2022-10-18 17:34] bitcoinuser opened #1632 "With Alby setting page opened and try to change password with Alby locked, should show an error message"
### Describe the bug

I opened Alby settings page, then I locked the Alby, then I tried to change lock password, nothing happens and no error message appear

### To Reproduce

Steps to reproduce the behavior:

1. Open Alby settings page
2. Lock the extension on Alby fav icon on browser top
3. Try to change Alby lock password

### Expected behavior

Alby should show a message to unlock the extensio

[2022-10-19 09:34] reneaaron opened #1636 "Improve transaction lists"
### Feature description

The incoming transaction list could be decluttered quite a bit:

![image](https://user-images.githubusercontent.com/100827540/196653548-0f4a6df3-568b-4f7e-b763-886b906af56e.png)

### Describe the solution

 - Remove obsolete icons (+)
 - Remove obsolete texts (`Received` is repeated in every line)
 - Unfolding only makes sense if we can display additional information (curr

[2022-10-19 09:58] reneaaron opened #1637 "Round amounts to full sats"
### Describe the bug

At least with the LNBits connector Alby seems to display `msat` amounts under certain circumstances.

### Screenshots of the changes [optional]

![image](https://user-images.githubusercontent.com/100827540/196659432-d4becfe8-c409-41a7-a2ce-8635b505ae57.png)

[2022-10-19 10:05] reneaaron opened #1638 "Close button does close the extension website on success screen"
### Screenshots of the changes [optional]

![image](https://user-images.githubusercontent.com/100827540/196661077-fe48050e-9b0d-42ad-9a96-b838d0724ea1.png)

### To Reproduce

Steps to reproduce the behavior:

1. Open the extension website (click on the extension icon and open "send")
2. Send to a lightning address of your choice
3. Clicking "close" closes the tab

### Expected behavior

In the ext

[2022-10-19 10:23] reneaaron opened #1639 "Text cutoff at the bottom of the connect screen (chrome)"
### Describe the bug

"Block and ignore" is currently being cut off:

![image](https://user-images.githubusercontent.com/100827540/196665453-f554cbc7-9855-4552-ac00-7e5fee0e5a56.png)

[2022-10-19 12:53] escapedcat commented on #1639
![image](https://user-images.githubusercontent.com/1016218/196696074-57e47d65-564c-484c-a52d-ef3f4fb170d6.png)
I don't have that?
Can you still scroll down?

[2022-10-19 13:00] escapedcat commented on #1636
Just some context:

- The description is used a a title if we do not have a "name"
- Currently we will always make it "unfoldable" if we have at least one of these:
    - description
    - totalFees
    - preimage
    - location
    - boostagram

[2022-10-19 17:22] #1631 closed

[2022-10-19 18:50] MoritzKa opened #1642 "Error message despite successful connection of Umbrel node"
### Describe the bug

Alby can connect to an Umbrel node although there is a error message

### Screenshots of the changes [optional]
![slack_n4X4yAoERn](https://user-images.githubusercontent.com/13707997/196777403-0ce5b233-e6e0-45dc-b746-281b28dcd91e.png)
![slack_pIQalev69n](https://user-images.githubusercontent.com/13707997/196777333-74c93372-0a1b-4ab1-bdcd-fd0414831e41.png)
![slack_wNqowLi8GT](

[2022-10-19 18:51] bumi commented on #1642
that does not look successful... does it show a balance?

[2022-10-19 18:54] jgertler88 commented on #1642
Yes, it shows a balance after about a minute or so.

[2022-10-19 18:57] jgertler88 commented on #1642
So, I just removed my Umbrel and redid the set up process again and I received a successful process.  It had given me connection errors twice before when I tried adding.

[2022-10-19 18:59] jgertler88 commented on #1642
Just redid it again and got a connection error.  Will send screenshot of error and Alby with balance showing.

[2022-10-19 19:01] jgertler88 commented on #1642
<img width="789" alt="CleanShot 2022-10-19 at 14 00 35@2x" src="https://user-images.githubusercontent.com/71850419/196780655-abe53316-db90-4633-8fd0-d01d1cd5fcf0.png">

[2022-10-19 19:03] jgertler88 commented on #1642
Did it one more time and got a fully successful.  So it just seems to be throwing off the connection errors, both alone and with a successful, even though the Umbrel node does successfully get reached.

<img width="676" alt="CleanShot 2022-10-19 at 14 02 55@2x" src="https://user-images.githubusercontent.com/71850419/196781196-1ff65206-5605-4985-bba9-87360693c487.png">

[2022-10-19 19:08] MoritzKa commented on #1642
let´s observe if it happens more often.
I had a similar experience with my RaspiBlitz. Sometimes the connection worked and sometimes it did not despite the credentials have been the same.

[2022-10-19 19:27] reneaaron commented on #1639
There are no scrollbars but I could scroll the bottom message into the view.

[2022-10-19 20:18] bumi commented on #1642
do you connect through Tor? it is likely an issue with Tor being slow. After a while Alby shows that error assuming the connection fails.

Sadly the Tor network is currently still under attack and sometimes unreliable.

[2022-10-20 08:01] bumi commented on #1639
I think scrollbars are hidden by CSS.
it fits in my screen, but maybe we can remove some spacing a bit to make it a bit smaller that it fits?

[2022-10-20 13:19] jgertler88 commented on #1642
Yes, I do connect through Tor so that is likely the issue.  If Alby knows it's trying to connect through Tor, should a dialog box pop up that says something about the issue with Tor, or should it allow a longer time-out period before throwing up an error?  It seems that given that I did receive a fully successful connection once that it only needs to extend the time-out for a little bit longer.  I

[2022-10-20 15:49] bumi commented on #1642
true, that for sure would help and the error should be removed again when it eventually works.

thanks for raising this. let's take this issue to fix this.

[2022-10-20 15:55] dvoroneca commented on #981
## Onboarding UX Review

1. In the chrome extension first point of contact can be improved...
- image can be improved. should include a name, our logo and words: Bitcoin Lightning and Payments
- Text should end at the first full stop. Without doubling on the Bitcoin Lightning text
![Screenshot 2022-10-20 at 17 34 23](https://user-images.githubusercontent.com/35034985/196993420-eba5ab0c-c23b-4298-8

[2022-10-20 17:15] reneaaron commented on #1637
Fixed with #1644

[2022-10-20 17:15] #1637 closed

[2022-10-20 17:32] dvoroneca commented on #981
### Designs for the new onboarding flow:

As our users are facing difficulties in understanding and following the registration flow I propose the following updates

1. Divide the registration into two actions with 2 success screens. 1. Setup password for the chrome extension 2. Add alby or not alby wallets.

2. Take users to Chrome extension web view with a welcome banner.

All the designs with al

[2022-10-20 17:38] dvoroneca commented on #981
I have made UI designs that I think **looks cool** and can be further developed into our brand identity.

![Welcome](https://user-images.githubusercontent.com/35034985/197019325-25a49f22-5f5e-443d-8379-f34709281ca8.png)
![Welcome-1](https://user-images.githubusercontent.com/35034985/197019346-dc62b0ea-1560-484c-959b-d859f0668aef.png)

![Welcome-2](https://user-images.githubusercontent.com/35034985

[2022-10-20 18:57] #1233 closed

[2022-10-21 07:43] reneaaron opened #1648 "📦 Improve release process"
- Remove `release-drafter` action from GitHub (and use "Generate release notes instead")
 - Tag a release on master by using a git tag (to prevent unwanted commits to sneak into a release)
 - Update the docs accordingly

[2022-10-21 08:09] lisabaut opened #1649 "Bug: get fiat value for CUC fails with 404"
### Describe the bug

While working on this PR https://github.com/getAlby/lightning-browser-extension/pull/1645
I saw that a conversion for sats to fiat for the currency "CUC" fails.

Sidenote:
In the [PR](https://github.com/getAlby/lightning-browser-extension/pull/1645) above I added a try/catch block which was missing.

### Screenshots of the changes [optional]

From the PR mentioned above

<img

[2022-10-21 09:15] reneaaron opened #1650 "Strange edges on success screen"
### Describe the bug

1. Generate an invoice and leave the extension popup open
1. Pay the invoice
1. See success screen

![image](https://user-images.githubusercontent.com/100827540/197160283-cabb8491-9502-4b30-9da3-9885ca4dbba2.png)

[2022-10-21 10:17] lisabaut commented on #1649
As discussed:

Go over the currency list on the Settings Screen and get an overview which currency with which provider does not work / throws an error.
Remove these currencies from the list accordingly.

[2022-10-21 12:37] MoritzKa commented on #981
Some feedback to the latest comment:
- the graphics in the screens are cool but somehow different. Using variations of the bee as suggested in the comment before is more consistent to what we currently have
- why do we explain the user why the password is needed (screen 2) after he creates the password (screen 1)?
- how does this flow address the problem that users often set long passwords that ma

[2022-10-21 14:35] escapedcat commented on #1566
@Nasimmhn unassining you here to give other people a chance. I guess you're busy with other things. No worries.

[2022-10-21 22:21] MoritzKa opened #1651 "Inconsistent receive and send screens"
### Describe the bug

copy withing the fields vs below the fields

### Screenshots of the changes [optional]

![Y9Yi7dJf5h](https://user-images.githubusercontent.com/13707997/197296846-81b71209-0a0c-40eb-a479-3b3d9f10ad0d.png)
![image](https://user-images.githubusercontent.com/13707997/197296897-79fd23f4-26d1-4b56-8202-77fc7e8e1c18.png)

[2022-10-22 00:38] bitcoinuser opened #1652 "Should have an option to authorize forever, for 5 minutes or just this time for nostr events on a specific service"
### Describe the bug

If I go to a nostr service like https://anigma.io/ and I enable Alby nostr on it, everytime I post a message I need to confirm signing the event on Alby

### Screenshots of the changes [optional]

![Captura de tela de 2022-10-21 21-34-53](https://user-images.githubusercontent.com/1178856/197308420-bceee44e-52fd-4576-8f63-f0e79e955abf.png)

### To Reproduce

Steps to reproduce

[2022-10-22 02:10] bitcoinuser commented on #1480
I already saw a video with these steps on Alby channel. I think this issue can be closed, right?

[2022-10-22 02:20] bitcoinuser commented on #1571
Closing as duplicate of: https://github.com/getAlby/lightning-browser-extension/issues/474

[2022-10-22 12:43] AnastasiaVolk commented on #1480
yes

[2022-10-22 12:43] #1480 closed

[2022-10-22 15:06] #1547 closed

[2022-10-22 15:08] #1571 closed

[2022-10-22 15:09] escapedcat commented on #1571
Hm, closing with reason always uses "not planned". Closing because of "duplicate", thanks @bitcoinuser

[2022-10-22 15:12] #1517 closed

[2022-10-22 15:16] escapedcat commented on #1651
We did this for this reason: #1517
A placeholder is not a label and it's not a hint-text. It should show i.e. an example of what can be input there.
If the text in there gets too long because languages are different it's being cut off and not useful anymore.
To show the whole text on hover is not good UX.

Proposed solution:
- align "Receive" accordingly
- if the "hint"-text is too small let's i.e

[2022-10-23 16:06] Cameri opened #1656 "[BUG] Hard to see three dots on Accounts page (Dark Mode)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

It's hard to see the three dots to edit an account on the Accounts page when in Dark Mode.

Please increase the contrast on the three dots so it is easier to see.

### Screenshots [optional]

<img width="1029" alt="image" src="https://user-images.githubusercontent.com/378886/197402715-c74b1a5

[2022-10-23 16:33] bumi commented on #1656
@secondl1ght any idea how to make this more prominent in dark mode?

[2022-10-23 22:30] bitcoinuser opened #1657 "[BUG] AMP invoices do not appear on Alby transaction list"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

With my Umbrel node connected on ZEUS wallet and connected on Alby too, I created an AMP invoice on Zeus and paid with Breez. The transaction do not appear on Alby transaction list, but transaction with no AMP selected, appear.

### Screenshots [optional]

_No response_

### Steps To Reproduc

[2022-10-23 23:40] bitcoinuser opened #1658 "[BUG] Transactions received without memo should appear as unknown"
### Describe the bug

I created an invoice without memo on Zeus connected on Umbrel. Alby is too connected with the same Umbrel. So I paid this invoice with Breez wallet. I looked on received transactions on Alby and no memo info is showed.

### Screenshots [optional]

![Captura de tela de 2022-10-23 20-36-27](https://user-images.githubusercontent.com/1178856/197423862-59864952-1a02-44de-8ce5-ac99

[2022-10-24 00:01] bitcoinuser opened #1659 "[BUG] I shouldn't be able to edit fields like description after I click on Create invoice button"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

I'm able to edit fields like description after I click on Create invoice button. I reproduced the problem when I experienced a slow time to generate the invoice.
It's the same bug resolved by this: https://github.com/getAlby/lightning-browser-extension/issues/1572

### Screenshots [optional]

[2022-10-24 06:29] escapedcat commented on #1659
As suggested we should use the same approach as in "Send" using [a fieldset to disable inputs](https://github.com/getAlby/lightning-browser-extension/blob/master/src/app/screens/LNURLPay/index.tsx/#L349-L350).

[2022-10-24 06:37] escapedcat commented on #1657
You mean on the "incoming" transactions, right?
Do these txs show up in Umbrel?

[2022-10-24 06:39] escapedcat commented on #1658
@reneaaron @dvoroneca what do you think?

[2022-10-24 07:21] dvoroneca commented on #1600
Rescheduled for Thursday 27th October 10:00 an CET

[2022-10-24 08:15] escapedcat commented on #1158
Will be cleaned up with https://github.com/getAlby/meta/issues/15

[2022-10-24 09:42] #1476 closed

[2022-10-24 11:18] bitcoinuser commented on #1657
1- Yes, incoming transactions
3- These txs do not show up on Umbrel.

[2022-10-24 12:04] escapedcat commented on #1657
Alby only shows the info it gets from the connector (i.e. Umbrel). If the tx is missing there I don't think we can do something about that.

[2022-10-24 12:06] bitcoinuser commented on #1657
Understood, but please make the issue opened as wont fix.

[2022-10-24 12:08] escapedcat commented on #1657
You mean?:

1. leave open and tag a "won't fix"
2. close it as "won't fix"

I would prefer option 1. A related Umbrel issue coudl be linked here.

[2022-10-24 12:13] bitcoinuser commented on #1657
Yes, I prefer 1

[2022-10-24 12:14] bitcoinuser commented on #1657
Later I will try to find any related issue on Umbrel repository.

[2022-10-24 12:18] escapedcat commented on #1657
Actually I prefer option 2. :D
But ok. Let's tag it for now.

[2022-10-24 12:36] bitcoinuser commented on #1657
I opened an issue on Umbrel repository: https://github.com/getumbrel/umbrel/issues/1522

[2022-10-24 13:21] bitcoinuser opened #1661 "[BUG] Alby should recognize twitter url that start with mobile"
### Describe the bug

For some unknown reason when I was browsing twitter on my PC I see that the URL twitter had a mobile word on it: https://mobile.twitter.com/bitdov
So I couldn't see the Alby blue icon to send sats on a profile with lightning address.

### Steps To Reproduce

1. Go to: https://mobile.twitter.com/bitdov
2. Try to send sats to this profile clicking on Alby blue icon

### Expecte

[2022-10-24 16:02] escapedcat commented on #1657
[The LND invoices-call](https://api.lightning.community/#v1-invoices) returns [invoices including AMP info](https://api.lightning.community/#lnrpcinvoice):
![image](https://user-images.githubusercontent.com/1016218/197571666-bf25767b-ab9a-4e22-b831-440b5aca58d7.png)
Sounds like they should show up?
Would need to have a closer look.

[2022-10-24 16:06] reneaaron opened #1662 "🧹 Cleanup send screen (popup, prompt, size, height)"
### Feature description

The current send screen is too long to fit into the extension popup.

![image](https://user-images.githubusercontent.com/100827540/197572024-c7e60762-d486-4daa-9840-cec52249a819.png)

### Describe the solution

Make the send screen (especially the forms) more compact. Potential things to consider:
 - The receiver could be a bit more compact
![image](https://user-images.git

[2022-10-24 16:15] reneaaron commented on #1658
I don't think a list of transactions with "Unknown" makes more sense than just a list of empty transaction descriptions.

[2022-10-25 09:42] #1608 closed

[2022-10-25 12:55] escapedcat opened #1666 "[Feature] MakeInvoice - switch currency TextField to DualCurrency field to support Fiat"
### Feature description

`MakeInvoice`-screen is not yet using out DualCurrency-field.
This screen should also display Fiat.
Also add `autoFocus` to that updated field.

![image](https://user-images.githubusercontent.com/1016218/197778409-fd68c0ce-866a-4525-ba5d-62818b5f88b9.png)

### Describe the solution

Switch the input

### Describe alternatives

-

### Additional context

Test with:
1. Got t

[2022-10-25 14:46] #1356 closed

[2022-10-25 14:46] #1359 closed

[2022-10-25 18:03] vaibhavgarg237 commented on #1659
I have opened PR for this issue https://github.com/getAlby/lightning-browser-extension/pull/1668 just like #1572

[2022-10-26 09:59] im-adithya opened #1670 "[BUG] Extra margin in Container"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

There's an extra margin (see below Block and Ignore) in all the screens which use Container:

### Screenshots [optional]

<img width="512" alt="Screenshot 2022-10-26 at 3 27 21 PM" src="https://user-images.githubusercontent.com/64399555/197996672-beb14d5c-728d-4409-aa93-08e3f7679f47.png">

##

[2022-10-26 10:03] #1081 closed

[2022-10-26 10:03] im-adithya opened #1671 "[BUG] Buttons should be in the bottom in Send/Receive Screens"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Buttons should be in the bottom in Send/Receive Screens like elsewhere as per the design guidelines.

### Screenshots [optional]

_No response_

### Steps To Reproduce

Click Send/Receive on Home Screen

### Expected behavior

Buttons should be pushed to bottom

### Alby information

--

###

[2022-10-26 10:51] im-adithya commented on #1656
Maybe add a border and make the dots a bit whiter?
<img width="45" alt="Screenshot 2022-10-26 at 4 18 31 PM" src="https://user-images.githubusercontent.com/64399555/198007369-e35ad25c-dbf3-4561-ba77-08746d06bfcf.png">
<img width="55" alt="Screenshot 2022-10-26 at 4 20 20 PM" src="https://user-images.githubusercontent.com/64399555/198007718-2032aac5-e9b6-4427-ae99-fccdefeef9a2.png">

[2022-10-26 11:21] im-adithya commented on #1638
Waiting on #1581

[2022-10-26 11:54] escapedcat commented on #1656
Love it! wdyt @reneaaron @dvoroneca ?

[2022-10-26 12:04] im-adithya commented on #1630
Discussed with @MoritzKa, everything seems fine

[2022-10-26 12:04] #1630 closed

[2022-10-26 13:20] #1661 closed

[2022-10-26 13:27] bitcoinuser opened #1674 "[BUG] Alby balance should refresh when receiving funds with in the same wallet but using an external linked wallet"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

I use the same wallet on Alby and Zeus. So I clicked on Alby fav icon on Browser and let it opened. At same time I opened my Zeus wallet and clicked to receive funds. I paid the invoice with Breez.
So I looked to see if Alby balance changed, but no. Only change if I click on fav icon to hide

[2022-10-26 13:31] escapedcat commented on #1674
Context:

Currently we only "pull" the incoming txs "on demand". We do not listen or pull those via i.e. an interval.

[2022-10-26 13:33] bitcoinuser commented on #1674
Yes, but if the transaction appear on incoming tab, the balance should reflect, right?

[2022-10-26 13:36] escapedcat commented on #1674
Ah, uhm, yeah I guess we could trigger an `AccountMenu`-update if the incoming txs are being clicked? Or maybe pull the AccountMenu info via interval?

Smells like `state` @lisabaut :P

[2022-10-26 13:38] bitcoinuser commented on #1674
In my opinion any action on Alby UI should update the balance.

[2022-10-27 09:38] #1379 closed

[2022-10-27 09:38] #1624 closed

[2022-10-27 09:44] #1671 closed

[2022-10-27 09:44] #1650 closed

[2022-10-27 09:44] #1670 closed

[2022-10-28 09:18] #1638 closed

[2022-10-28 19:29] bumi commented on #1622
https://developers.cloudflare.com/firewall/recipes/require-valid-hmac-token/
https://developers.cloudflare.com/ruleset-engine/rules-language/functions/#hmac-validation
https://developers.cloudflare.com/ruleset-engine/rules-language/operators/

[2022-10-28 22:40] bumi opened #1687 "nostr.signEvent is not following the spec"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

nostr.signEvent is not following the spec

it should return the full event.

https://github.com/nostr-protocol/nips/blob/master/07.md

### Screenshots [optional]

_No response_

### Steps To Reproduce

required fields are annoying

### Expected behavior

it should follow the spec and return a

[2022-10-29 19:47] bitcoinuser opened #1690 "[BUG] I should be able to LNURL login with Alby even if my Umbrel node be offline"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

I'm having problems with my Umbrel node but I used it with Alby to authenticate on some services using LNURL-AUTH. Now I'm unable to login in these services.

### Screenshots [optional]

_No response_

### Steps To Reproduce

1- Disconnect Umbrel node
2- Try to use Alby to login on sites you

[2022-10-29 20:07] bitcoinuser commented on #1690
Related to this issue: https://github.com/getAlby/lightning-browser-extension/issues/802

[2022-10-31 14:23] lisabaut opened #1692 "Extend DB with "permissions""
### Feature description

This is part of the meta ticket https://github.com/getAlby/meta/issues/230

In order to let WebLN pass generic methods of a connector to their API, the extension needs to check the user's permissions for this connector methods first.

### Describe the solution

### TODO

- [x] extend the DB with "permissions" with schema: `allowanceId, host, method, enabled, blocked, creat

[2022-10-31 15:07] bumi commented on #1692
what would be the `id` or `key` of a permission?

re enabled/blocked:
if there is no permission for a call then we prompt the user.
if a permission is set and "enabled" we execute the request automatically without prompt
if a permission is set and "blocked" we reject the request, do not prompt the user and do not execute. - but we can ignore this for now. As said I just like to avoid data migratio

[2022-11-01 10:45] lisabaut commented on #1692
I meant the unique primary key within the DB table. I added this ID now.
https://dexie.org/docs/API-Reference#quick-reference

Thanks, I added this explanation to the meta ticket description https://github.com/getAlby/meta/issues/230

[2022-11-01 11:15] lisabaut opened #1696 "Extend WebLN with generic request method"
### Feature description

This is part of the meta ticket https://github.com/getAlby/meta/issues/230

To allow web apps to call other functionality on their connector which the WebLN API does not cover explicitly
the idea is to extend WebLN with a generic "request" method.

### Describe the solution

The generic method takes the two arguments ("method: string", "params?: Record<string, any>").

###

[2022-11-01 11:22] bumi commented on #1696
https://replit.com/@bumi17/webln-channels-demo

[2022-11-01 11:33] bumi commented on #1656
+1

[2022-11-01 12:49] bumi commented on #1692
ah ja, +1 for an ID

[2022-11-04 18:34] whyprax commented on #1566
Hello @escapedcat, is this issue still open?
If yes, can you please assign it to me?

[2022-11-04 18:38] escapedcat commented on #1566
@whyprax you got it. Let ue know if you have any issues or get stuck.

[2022-11-05 08:43] MoritzKa opened #1708 "[BUG] Tipping on Medium not working"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Alby does not detect lightning addresses on medium any more e.g. https://maxirosson.medium.com/

### Screenshots [optional]

_No response_

### Steps To Reproduce

Visit: https://maxirosson.medium.com/

### Expected behavior

Alby detects the lightning address, turns blue and allows to send a

[2022-11-05 08:46] MoritzKa opened #1709 "[Feature] Tipping GitHub profiles of organizations"
### Feature description

Alby detects lightning addresses in personal profiles, but not in profiles of organizations like: [https://github.com/dipien](https://t.co/MxxKRFevU1)

### Describe the solution

Can Alby detect lightning address in GitHub profiles of organizations?
for example here: [https://github.com/dipien](https://t.co/MxxKRFevU1)

### Describe alternatives

-

### Additional context

[2022-11-05 08:48] MoritzKa opened #1710 "[BUG] Tipping on Reddit not working"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Alby does not detect lightning addresses on reddit any more e.g. [reddit.com/user/maxirosson](https://t.co/iPWWVZLMHs)

### Screenshots [optional]

_No response_

### Steps To Reproduce

Visit: [reddit.com/user/maxirosson](https://t.co/iPWWVZLMHs)

### Expected behavior

Alby detects the ligh

[2022-11-05 09:46] reneaaron commented on #1690
Closing as a duplicate of #802.

We can't fix this unless we choose to move signing to a separate signing key that you can manage inside of Alby.

[2022-11-05 09:46] #1690 closed

[2022-11-05 21:37] bumi opened #1712 "Unify connector interface"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

The connector functions either return the response or throw an error.
Except `connectPeer` and `getInvoices` those return an error.

I think we should have this unified. @escapedcat why do you not throw an error in those functions like in the other functions?

https://github.com/getAlby/light

[2022-11-06 07:04] #1687 closed

[2022-11-07 09:07] reneaaron opened #1717 "🧪 Explore Lightning Node Management requirements"
Generic connectors open up a whole lot of new use cases. Let's explore what requirements Lightning node management apps have and what WebLN functions we would need to provide in order for them to work as clientside apps.

 - Thunderhub
 - RTL
 - LNDG
 - Pool
 - amboss.space
 - lnrouter.app
 - lnnodeinsight.com

[2022-11-07 10:52] #1656 closed

[2022-11-07 11:17] #1622 closed

[2022-11-08 08:51] MoritzKa commented on #1717
Do you need help here?
We have contact to all of them. Shall I reach out to lnrouter.app and lnnodeinsight first?

[2022-11-08 09:35] lisabaut opened #1725 "Extend LND connector with requestMethod"
### Feature description

With this pull request https://github.com/getAlby/lightning-browser-extension/pull/1724
it is possible to extend a connector with the method `requestMethod` which enables any Client to pass methods to the Connector's API other than explicitly provided by WebLN.

Right now it is only possible to extend the LND connector as a detailed REST API exists which can be easily inte

[2022-11-08 09:41] lisabaut opened #1726 "Permissions: User should be able to update or delete"
### Feature description

This pull request https://github.com/getAlby/lightning-browser-extension/pull/1724
extended the DB with the table "permissions".

The user can explicitly decide if a request should always be allowed for a host/allowance.
If so => this request method is saved within the DB
If not => the user is prompted every time again

Now, several permissions can be saved within the DB.

[2022-11-08 09:54] lisabaut opened #1727 "Nostr: Read and write request permission from DB"
### Feature description

This pull request https://github.com/getAlby/lightning-browser-extension/pull/1724
extended the DB with the table "permissions".

Now, it is possible to get, add, delete a permission for a specific host/allowance.
The integration of Nostr enables two methods at the moment:
- ConfirmSignMessage
- ConfirmGetPublicKey

Both methods can now be saved in the DB (if the user deci

[2022-11-08 14:06] reneaaron opened #1730 "nostr: encrypt & decrypt"
## Feature description

Add the missing functions `encrypt` and `decrypt` to the `window.nostr` API.
Calls to those functions should ask the user to confirm the action and offer the option to remember the choice for future calls.

### Useful links
 - Specs https://github.com/nostr-protocol/nips/blob/master/04.md
 - Useful nostr library https://github.com/fiatjaf/nostr-tools (we decided not to incl

[2022-11-08 16:25] whyprax commented on #1566
Hey @escapedcat, I need your help in setting up the project.

I have followed these steps :
    Ensure you have

        [Node.js](https://nodejs.org/) v14 [14.20.1] installed (We only support v14 currently)
        [Yarn](https://yarnpkg.com/) v1 or v2 installed

    Suppported but not required

        [nodenv](https://github.com/nodenv/nodenv)
        [nvm](https://github.com/nvm-sh/nvm#intro)

[2022-11-08 16:33] escapedcat commented on #1566
This looks good.

[code]

This indicates it was build successfully. You should be able to import it into your browser, like described here: https://github.com/getAlby/lightning-browser-extension#-load-extension-into-browser

For faster assistance you can join [our slack-channel](https://github.com/getAlby/lightning-browser-extension#join-the-conversation) and contact me there.

[2022-11-08 17:15] MoritzKa commented on #1717
looks like a suitable use case: https://cold-sats.github.io/ln-charts/add-data

[2022-11-08 22:56] #1709 closed

[2022-11-08 23:00] #1710 closed

[2022-11-09 07:43] reneaaron commented on #1717
+1 from the concept side, however I think those charts rely on output from [BOS](https://github.com/alexbosworth/balanceofsatoshis) which would not be available via `webln`

[2022-11-09 08:20] escapedcat commented on #1473
For results see comments in: #1124

[2022-11-09 08:24] escapedcat opened #1736 "[MV3] Support MV2 and MV3 releases"
### Feature description

Once all MV3 related issues are done we need to create a release process to support MV2 (For i.e. Firefox) and MV3 for Chrome.

### Describe the solution

Keywords form the top of my head

- Feature flag
- Maybe automatic creation of manifest-file

### Describe alternatives

🤞 all browsers support MV3

### Additional context

_No response_

### Are you working on this?

_N

[2022-11-09 08:30] escapedcat opened #1737 "[MV3] Handle slow service-worker startup"
### Describe the bug

- The service-worker starts up slow
- The extension is already doing requests to the "background actions" on startup
- Account/Settings Provider throw errors because SW isn't ready

---

Another issue was that the SW shuts down after ~5 minutes of inactivity

- state was lost and therefor the password-pin
- user needs to re-enter the password-pin to continue
- -> This was sol

[2022-11-09 13:48] #1708 closed

[2022-11-09 16:04] #1390 closed

[2022-11-09 17:22] MoritzKa opened #1740 "[Feature] What about a connector to Tao wallet? Is there a benefit of connecting the hedging backends from Galoy, Kollider and LNMarkets in Alby?"
### Feature description

Tao wallet is a web wallet that provides stable coins but uses LNMarkets instead of Kollider
Shall we create a connector to let Tao users easily connect to Alby?

### Describe the solution

A connector to Tao Wallet: https://github.com/dannydeezy/tao-wallet

### Describe alternatives

keep just one connector with stable BTC denominated in USD

### Additional context

not u

[2022-11-09 20:27] #1639 closed

[2022-11-10 09:48] #1314 closed

[2022-11-10 11:49] reneaaron opened #1742 "💵 Explore fiat-denominated accounts"
### Feature description

More and more services are offering fiat denominated accounts via synthetic assets:
 - [kollider](https://kollider.xyz)
 - [galoy](https://galoy.io/)

![image](https://user-images.githubusercontent.com/100827540/201083946-13680767-6821-480d-bd6e-a6ab02d1e452.png)

Those services often offer multiple balances to their users. In Kollider's case it's:
 - Bitcoin
 - synthetic

[2022-11-10 12:53] escapedcat commented on #1030
Done via #1390

[2022-11-10 12:53] #1030 closed

[2022-11-10 13:17] bumi commented on #1742
In the first step what we imo need to look at is how we can let the connector decide what currency the return amounts have.
E.g. when we show the account balance we have a hard coded "sats" there. this would need to be the currency of the connector.
Same in the incoming invoices.
I'd also say if the currency is not btc/sats then we do not show any other fiat amount (or we show the sats amount, wha

[2022-11-10 13:25] jankoegel opened #1743 "[BUG] alby:image meta tag gets overridden by favicon"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

+ on www.jan-koegel.de I have set `<meta property="alby:image" content="https://ik.imagekit.io/jankoegel/img/photos/heidelberg-graffiti-underpass.jpg?tr=w-500,e-sharpen">`
+ when I visit the page and open my Alby extension I see my favicon and not the image from the `alby:image` meta tag.

##

[2022-11-11 10:09] #1712 closed

[2022-11-11 11:32] MoritzKa commented on #1717
I will just drop it here to not forget it. I have to check it: https://lightningnetwork-analytics.com/

[2022-11-11 11:41] #1692 closed

[2022-11-11 11:41] #1696 closed

[2022-11-12 16:01] bumi opened #1750 "Analyze bundle size"
It would be interesting to see what packages have what size to see the differences.
Maybe this can be added on each `yarn package` run:

https://www.npmjs.com/package/webpack-bundle-analyzer

[2022-11-14 04:18] bumi opened #1753 "Add tests for the ln/request.ts"
### Feature description

- How do we best test this action?
- How do we best mock the `requestMethod` function on the connector?

[2022-11-14 04:18] bumi commented on #1753
@lisabaut is this something you want to look at

[2022-11-14 04:20] #1743 closed

[2022-11-14 04:25] bumi commented on #1652
@lisabaut maybe time is something that we could add in the permissions database? what do you think about that?

[2022-11-14 04:33] bumi commented on #670
this should be shipped now.

[2022-11-14 04:33] #670 closed

[2022-11-14 09:32] reneaaron commented on #1648
https://app.gitbook.com/o/uiUeRqI074apbV0PWsyf/s/fpwHkrrGXtU8Wi5IO8a6/~/diff/~/changes/RzSdIBDcQ9VrHVp9Z0Ym/processes/releasing-the-extension

[2022-11-14 11:07] reneaaron commented on #1623
Deleted all branches that weren't ahead of master. There are still quite a lot of branches left that are stale, feel free to delete them:

https://github.com/getAlby/lightning-browser-extension/branches/stale

[2022-11-14 13:19] #1648 closed

[2022-11-14 19:42] lisabaut commented on #1652
@bumi

I would add `validUntil` Date to the permission in the database.

In the UI this would be:
- authorize forever => "enabled: true"
- authorize for 5 minutes => "validUntil: Date.now + 5 min" and "enabled: false"
- authorize just this => "validUntil: null" and "enabled: false"

The request gets the permission from DB and checks [here](https://github.com/getAlby/lightning-browser-extension/blo

[2022-11-15 08:03] jankoegel commented on #1743
👍 working for me now.
<img width="378" alt="Screenshot 2022-11-15 at 09 02 45" src="https://user-images.githubusercontent.com/100707419/201863060-457ed95c-504b-4142-90cc-343a81d418ee.png">

[2022-11-16 13:08] #1636 closed

[2022-11-20 03:34] #1022 closed

[2022-11-20 15:01] bumi opened #1769 "Prevent google translate"
### Describe the bug

seems google translate is offered on the extension pages.
we should try to prevent that.

### Screenshots [optional]

<img width="562" alt="image" src="https://user-images.githubusercontent.com/318/202909453-11a7f416-4e3f-4964-88ec-2e06bcb1ec39.png">

[2022-11-21 10:27] lisabaut commented on #1742
## First Implementation

- [ ] Create new connector "Kollider"
- [ ] add new connector to Websites screen
- [ ] when user creates Kollider => prompt user with "Which balance/account you want to add"
- [ ] either store this base currency in Settings (TBD)
- [ ] and/or add method to connector "getBaseCurrency" (TBD)
- [ ] Decision: No convertion will happen at any place, just do not show fiat at all

[2022-11-21 15:04] bumi commented on #1742
just for completeness:
Here is the code where I explored Kollider: https://github.com/getAlby/lightning-browser-extension/pull/1770

there does not need to be a special prompt, just like other connectors need some information this needs a "currency":
<img width="668" alt="image" src="https://user-images.githubusercontent.com/318/203077529-79c890f0-a4ab-4c76-a0bf-3859d42dd2fd.png">

I would also ca

[2022-11-21 16:32] escapedcat commented on #1403
Screenshot from the TG chat showing it within Umbrel:
<img src="https://user-images.githubusercontent.com/1016218/203102641-01b438fa-c955-4aa2-bc03-257e236d467c.png" width="350" />

Bumi mentioned:

If the timestamp is 0 it leads to 53 years.
What would we prefer, showing nothing at all or i.e. "No date available"?

[2022-11-22 04:06] bumi commented on #1518
ping @MoritzKa

[2022-11-22 08:13] #1737 closed

[2022-11-22 09:14] escapedcat commented on #1403
"Same issue" with kollider:
![image](https://user-images.githubusercontent.com/1016218/203273824-e8b401d6-af63-4138-866f-7b2e6ec5460c.png)

[2022-11-22 18:01] escapedcat commented on #1403
We need to investigate why certain incomign (even settled txs) do not have a date.

[2022-11-24 17:14] harvhat opened #1776 "[Feature] Allow user to select which sites Alby has access too using the already provided mechanism for that"
### Feature description

Allow Alby to only read data on sites when clicked on, not on all sites.

that is, right clicking on the extension -> this can read and change site data -> when you click on the extension

Currently Alby only works when "on all sites" is selected (else you get  unhelpful generic "network error" messages) and I've found some sites don't play well with Alby and why  would I

[2022-11-24 17:37] bumi commented on #1776
thanks for reporting. Which websites don't play nice with Alby? would help to debug this.

The option "when you click on the extension" should work actually (at least I often try this to make sure this option is possible) The only thing is you must reload the page after you initially allowed Alby (after you clicked on the extension) otherwise the website connection can not be established.

[2022-11-25 15:49] bumi commented on #1750
<img width="1433" alt="image" src="https://user-images.githubusercontent.com/318/204019592-93aa0b82-e175-4908-8220-36d193bb64ff.png">

[2022-11-26 21:16] bitcoinuser opened #1784 "[Feature] Add Nostr badge on websites list"
### Feature description

I would like to see Nostr badge for websites I connected using Alby Nostr.

### Describe the solution

Same thing like this https://github.com/getAlby/lightning-browser-extension/pull/1779 but for Nostr

### Describe alternatives

No alternative.

### Additional context

_No response_

### Are you working on this?

No

[2022-11-26 21:57] bitcoinuser opened #1785 "[Feature] Alby page to see my Nostr profile and option to leave tips"
### Feature description

Now that Nostr is integrated on Alby, I think should have a button on Alby settings to see my Nostr profile.
What I mean by Nostr profile is something like linktree service or https://vida.page/koreacomk
For now on Alby I just can see my private key and I need to connect on any other Nostr service to view and edit my Nostr profile.

### Describe the solution

You could add

[2022-11-26 22:07] bitcoinuser opened #1786 "[BUG] Long descriptions widens the screen and we miss an "overflow hidden" there or something"
### Describe the bug

Long descriptions widens the screen and we miss an "overflow hidden" there or something

### Screenshots [optional]

<img src="https://user-images.githubusercontent.com/1178856/204111628-be077778-0437-409b-9099-2781fa595a99.jpg" width="350"/>

### Steps To Reproduce

1. Go to anigma.io and tip someone.

### Expected behavior

Buttons show correctly

### Alby information

Alby

[2022-11-26 22:38] #1534 closed

[2022-11-26 22:39] #1750 closed

[2022-11-27 10:44] qqqzhch commented on #651
represents how to run Alby in the local development environment.
I just need to build a local development and testing environment, so I will sort out the information on how to build a development environment

[2022-11-27 17:36] Amyyalby opened #1789 "Add LNFLIP to our website section of the extension"
### Feature description

We have had the following request on twitter DM:

[2022-11-28 08:51] MoritzKa opened #1790 "No tipping possible when visiting a YouTube channel with new handles"
### Describe the bug

YouTube introduced new URL with user handles.
That might stop Alby from automatically detecting the lightning address and showing the publisher profile in the extension.
The browser extension icon no longer turns blue when visiting a YouTube channel whenever the new handles are used as part of the URL.

### Steps To Reproduce

Alby recognizes [http://youtube.com/c/clubmikev](

[2022-11-28 11:15] jakubszwedo commented on #981
Here's a link to alby onboarding experience map based on crypto/bitcoin user novice: [Figma](https://www.figma.com/file/z3uJ9ukGm6RIuTVKvKMYNw/Alby-onboarding-evaluation?node-id=0%3A1&t=YRhP9oXbaYFhDzWR-0)

A lot of the same problems as identified before

[2022-11-28 12:20] qqqzhch commented on #1200
Let me sort out the data related code in the test

[2022-11-29 14:56] escapedcat opened #1798 "[Feature] Use general `ConfirmRequestPermission` screen instead of individual ones"
### Feature description

We currently have lot's of similar screens which
1. Asked for confirm
2. Optional save a permission so the user will not be asked again
3. (Optional show a message/content)

We have [a general screen/action](https://github.com/getAlby/lightning-browser-extension/blob/master/src/app/screens/ConfirmRequestPermission/index.tsx) which does this. Would be nice to use the genera

[2022-11-29 16:42] bumi commented on #1776
and which wallet/account do you have connected in Alby?

[2022-11-29 18:08] MoritzKa commented on #1798
How are the current screen different? Different code base?
Would that mean we use the same screen but adjust the permission message on the screen?
If that is the case, that sounds like a reasonable change.

[2022-11-29 22:31] #1727 closed

[2022-11-30 00:19] #1666 closed

[2022-11-30 06:21] murdawkmedia commented on #1790
I think I have this same issue.

The YouTube page in question is:
https://www.youtube.com/@murdawkmedia/about
or
https://www.youtube.com/murdawkmedia/about

The @getalby.com address is located in the 'about' section.

[2022-11-30 07:57] reneaaron commented on #1717
Resources:
 - https://www.youtube.com/watch?v=Pux_lXcPoso
 - https://www.figma.com/file/I3cHUgMcAT7vFio8jyhIeT/LNDg-Library?node-id=3843%3A60484

[2022-11-30 09:26] escapedcat commented on #1798
Would that mean we use the same screen but adjust the permission message on the screen? If that is the case, that sounds like a reasonable change.

| Current        | New           |
| ------------- |:-------------:|
| <img src="https://user-images.githubusercontent.com/1016218/204561483-d658d8f6-b352-4199-8496-96aec37da9d5.png" width="300" />      | <img src="https://user-images.githubusercontent